{{#if trace }}
<p class="font-xsmall">{{ json model }}<p>
{{/if }}

<main>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				<span class="heading-secondary-notice">
					<i class="icon icon-flood-warning-large">
						<span class="visually-hidden">Flood warning</span>
					</i>Flood warning <span class="visuallyhidden">for:</span>
				</span>
				<span class="heading-primary-notice">Central Mytholmroyd (River Calder)</span>
			</h1>
		
		</div>

	</div>

	<div class="grid-row">

		<div class="column-two-thirds">

			<div class="panel panel-border-narrow panel-warning-message">

				<p><strong class="bold-small">Flooding expected - immediate action required</strong></p>
				<p>This message has been issued because of the rainfall overnight and during this morning affecting this area. This means that river levels are expected to continue to rise over the next new hours.</p></p>
				<p>The forecast is for showers throughout the day which will keep rivers fluctuating. We are expecting river levels to remain responsive to further rainfall.</p>
				<p>We will continue to closely monitor levels and update this message as necessary.</p>
				<p class="font-xsmall">
					Message last updated at<br/>
					<strong class="bold-xsmall">17:52pm Wednesday 23 August 2017</strong>
				</p>

			</div>

		</div>

		<div class="column-third">

			<figure class="map map-small" id="map">
				<div class="map-container"></div>
				<figcaption>Map showing potential affected area</figcaption>
			</figure>

		</div>

	</div>

	<div class="grid-row">

		<div class="column-two-thirds">

			<p><a href="/get-flood-warnings/add-your-contact-details?single=true">Get updates by phone, text or email</a>.</p>

			<p>Could this information be better? <a href="">Tell us how to improve it</a>.</p>

			<p><a href="/warnings?s=c">View all flood warnings (England)</a></p>
			
			<details style="margin-top:2em" role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Other ways to get flood warning information</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
					<p>
						<strong class="bold-small">Floodline</strong><br/>
						Telephone: 0345 988 1188<br/>
						24-hour service<br/>
						<a href="">Learn more about call charges</a>
					</p>
                </div>
            </details>

		</div>

	</div>

</main>

<!-- This content to go at end of body -->
<script src="https://openlayers.org/en/v4.2.0/build/ol.js"></script>
<script>
	var targetAreaStates = {{{ json model.targetAreaStates }}}
	var levelsJSON = {}
	var lonLat = []
</script>
<script src="/public/javascripts/map.js"></script>