<a href="/check-flood-risk" class="link-back">Back</a> 

{{#if trace }}
<p class="font-xsmall">{{ json model }}<p>
{{/if }}

<main>
		
	<div class="grid-row no-bottom">
		<div class="column-two-thirds no-bottom">
			
			<h1 class="heading-xlarge">Flood warnings currently issued (England)</h1>

		</div>
	</div>

	<div class="grid-row no-bottom">
		<div class="column-one-third">

			{{#if model.hasFilter }}
			<div class="filter">
				<form action="/warnings" autocomplete="off" class="form" method="post" novalidate="novalidate">
					<h2 class="heading-medium">Show warnings near a town or postcode</h2>
					<div class="form-group no-bottom">
						<fieldset>
							<legend class="visuallyhidden">Filter by postcode or town</legend>
							<div class="form-group">
								<label for="location" class="visuallyhidden">
									<span class="form-label">Postcode or town</span>
								</label>
								<input id="location" name="location" class="form-control form-control-location" type="text" placeholder="eg SW1A 2AA or Bakewell" value="" />
								<input id="scenario" name="scenario" type="hidden" value="{{ model.scenario }}"/>
								<button class="button button-filter-search" type="submit">Apply filter</button>
								<a href="" class="form-control-reset">Show all warnings</a>
							</div>
						</fieldset>
					</div>
				</form>
			</div>
			{{/if }}

			<div class="accordion">
				
				<div class="accordion-section">
					<div class="accordion-header">
						<div class="notice notice-warning">
							<i class="icon icon-flood-warning-severe-large">
								<span class="visually-hidden">Severe flood warning</span>
							</i>
							<strong class="bold-xlarge">{{ model.warningsSevere.length }}</strong>
						</div>
						<span class="bold-medium">Severe flood warning{{#isPlural model.warningsSevere.length}}s{{/isPlural}}</span><br/>
						<span class="font-small">Severe flooding - danger to life</span>
					</div>
					<!--
					{{#if model.hasWarningSevere }}
					<ul class="list list-warnings">
						{{#each model.warningsSevere }}
						<li class="font-xsmall">
							<a href="/warnings/{{ this.path }}">{{ this.name }}</a>
						</li>
						{{/each }}
					</ul>
					{{/if }}
					-->
				</div>
				<div class="accordion-section">
					<div class="accordion-header">
						<div class="notice notice-warning">
							<i class="icon icon-flood-warning-large">
								<span class="visually-hidden">Flood warning</span>
							</i>
							<strong class="bold-xlarge">{{ model.warnings.length }}</strong>
						</div>
						<span class="bold-medium">Flood warning{{#isPlural model.warnings.length}}s{{/isPlural}}</span><br/>
						<span class="font-small">Flooding expected - immediate action required</span>
					</div>
					<!--
					{{#if model.hasWarning }}
					<ul class="list list-warnings">
						{{#each model.warnings }}
						<li class="font-xsmall">
							<a href="/warnings/{{ this.path }}">{{ this.name }}</a>
						</li>
						{{/each }}
					</ul>
					{{/if }}
					-->
				</div>

				<div class="accordion-section">
					<div class="accordion-header">
						<div class="notice notice-warning">
							<i class="icon icon-flood-alert-large">
								<span class="visually-hidden">Flood alert</span>
							</i>
							<strong class="bold-xlarge">{{ model.alerts.length }}</strong>
						</div>
						<span class="bold-medium">Flood alert{{#isPlural model.alerts.length}}s{{/isPlural}}</span><br/>
						<span class="font-small">Flooding possible - be prepared</span>
					</div>
					<!--
					{{#if model.hasAlert }}
					<ul class="list list-warnings">
						{{#each model.alerts }}
						<li class="font-xsmall">
							<a href="/warnings/{{ this.path }}">{{ this.name }}</a>
						</li>
						{{/each }}
					</ul>
					{{/if }}
					-->
				</div>

			</div>

		</div>

		{{#if model.hasMap }}
		<div class="column-two-thirds">
		
			<!-- Map view -->

			<figure class="map" id="map">
				<div id="map-container" class="map-container map-container-large"></div>
				<figcaption>Map showing flood warnings and alerts</figcaption>
			</figure>

		</div>
		{{/if }}

	</div>

</main>

<!-- This content to go at end of body -->
{{#if model.hasMap }}
<script src="https://openlayers.org/en/v4.2.0/build/ol.js"></script>
<script>
	var targetAreaStates = {{{ json model.targetAreaStates }}}
	var levelsJSON = {}
	var lonLat = []
</script>
<script src="/public/javascripts/map.js"></script>
{{/if }}