$path: "/public/";

.accordion {
  border-top:1px solid $border-colour;
}
.accordion-section {
  border-bottom:1px solid $border-colour;
}
.accordion-section {
  padding-top:0.6em;
  padding-bottom:0.6em;
}