$path: "/public/";

.subsection {
  border-bottom:1px solid $border-colour;
}
.subsection-header {
  display:block;
  position:relative;
  padding-top:0.8em;
  padding-bottom:0.8em;
}
.subsection-content {
  padding-bottom:0.5em;
}

// Div element replace with an a element using Javascript
a.subsection-header {
  display:block;
  color:$text-colour;
  text-decoration:none;
}
a.subsection-header:hover {
  background-color:$highlight-colour;
  cursor:pointer;
}
a.subsection-header:focus {
  background-color:white;  
  color:$text-colour;
  border:0;
  outline:0;
  z-index:1;
}
a.subsection-header:focus .bold-xlarge,
a.subsection-header:focus .bold-medium,
a.subsection-header:focus .font-small {
  background-color:$focus-colour;
}
.icon-subsection {
  position: absolute;
  right: 15px;
  top:50%;
  height: 16px;
  width: 16px;
  margin-top:-8px;
}
.js-subsection-accordion .icon-subsection {
  background: transparent url('#{$path}icons-plus-minus-2x.png') bottom center no-repeat;
  background-size:100%;
}
.js-subsection-accordion.subsection-open .icon-subsection {
  background-position:top center;
}
.list-warnings {
  margin:0;
}
.list-warnings li {
  margin-top:0;
  margin-bottom:0.6em;
}