$path: "/public/";

.filter {
  padding:15px;
  background-color:$panel-colour;
}
.filter h2 {
  margin-top:0;
  margin-bottom:0.5em;
}
.filter .form-group {
  margin-bottom:0;
}
.filter .form-group,
.filter .form-control,
.filter .form-comtrol-reset,
.filter .form-label {
  @include core-16;
}
.filter .form-control-location {
  width:226px;
}
.button-filter-search {
  text-indent:-5000px;
  background:$button-colour url('#{$path}icon-search-2x.png') center center no-repeat;
  background-size:50%;
  width:40px;
  font-size: 16px;
  line-height: 1.25;
  padding: 7px 4px 5px;
}
.filter .form-control-reset {
  margin-top:0.5em;
  display:block;
  white-space: nowrap;
  width:8em;
}