$path: "/public/";

.column-two-thirds-map {
  position:relative;
}

.map {
  padding-top:15px;
  @include media(tablet) {
    padding-top:0;
    padding-bottom:15px;
  }
}

.map-link {
  @include media(tablet) {
    display:none;
  }
}

.map-container {
  position:relative;
  height:275px;
  border:1px solid $border-colour;
}

.map-container-medium {
  @include media(tablet) {
    height:438px;
  }
}

.map-container-large {
  @include media(tablet) {
    height:576px;
  }
}

.map-container-full {
  background-color: #fff;
  height:100%;
  width:100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  border: none
}

.map figcaption {
  @include core-16;
  margin-top:0.5em;
}

// Openlayers controls: zoom

.ol-zoom,
.ol-zoom-reset {
  position:absolute;
  left:10px;
  top:40px;
  z-index:1;
}
.ol-zoom-reset {
  top:10px;
}
.ol-zoom-in,
.ol-zoom-out,
.ol-zoom-reset {
  border:0;
  display:block;
  background-color: $link-colour;
  height: 30px;
  width: 30px;
  overflow: hidden;
  text-indent: -5000px;
  white-space: nowrap;
  background-image:url('#{$path}map-controls-2x.png');
  background-size:100%;
  cursor:pointer;
  -webkit-appearance:none;
}
.ol-zoom-in {
  position: relative;
  background-position:0% 25%;
}
.ol-zoom-out {
  position: relative;
  background-position:0% 50%;
}
.ol-zoom-reset {
  position: absolute;
  background-position:0% 0%;
}
.ol-zoom-in:hover,
.ol-zoom-out:hover,
.ol-zoom-reset:hover,
.map-control-toggleSize:hover {
  background-color:$focus-colour;
}

// Map control toggleSize

.map-control-toggleSize {
  position:absolute;
  right:10px;
  top:10px;
  z-index:1;
  border:0;
  background-color: $link-colour;
  height: 30px;
  width: 30px;
  overflow: hidden;
  text-indent: -5000px;
  white-space: nowrap;
  background-image:url('#{$path}map-controls-2x.png');
  background-size:100%;
  background-position:0 75%;
  cursor:pointer;
  -webkit-appearance:none;
}

// Map key

.key-container {
  width:100%;
  @include media(tablet) {
    padding:0 10px;
    max-width:20em;
  }
}

// Map controls key button

.key {
  position:absolute;
  left:0;
  bottom:0;
  z-index:1;
  width:100%;
  @include media(tablet) {
    bottom:10px;
  }
}
button.map-control-toggleKey {
  @include core-16;
  position: relative;
  text-align:left;
  border:0;
  color:$link-colour;
  height: 30px;
  width: 55px;
  padding:0 8px;
  background:white url('#{$path}map-legend-2x.png') no-repeat;
  background-size:10px 60px;
  background-position: 38px bottom;
  cursor:pointer;
  -webkit-appearance:none;
  margin-left:10px;
  @include media(tablet) {
    margin-left:0;
  }
}
button.map-control-toggleKey-open {
  background-position: 38px top;  
}
.key-copyright {
  @include core-16;
  display:block;
  margin-top:1em;
}

// Map key copy

.key-copy {
  display:none;
  clear:both;
  background-color:white;
  padding:15px;
}
.key-copy-open {
  display:block;
}
