$path: "/public/";

.column-two-thirds-map {
  position:relative;
}

.map {
  margin-top:-1px;
  @include media(tablet) {
    margin-top:0;
    padding-bottom:5px;
  }
}
.map-container {
  position:relative;
  height:275px;
  border:1px solid $border-colour;
}

.map-container-planning {
  border:1px solid $border-colour;
  @include media(tablet) {
    height:576px;
  }
}

.map-container.map-container-fullscreen,
.map-container-planning.map-container-fullscreen {
  position:fixed;
  z-index: 99;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  background-color:white;
}

.map-link {
  @include media(tablet) {
    display:none;
  }
}

.map-container-inner {
  position: relative;
  z-index:1;
  width:100%;
  height:100%;
}

.map figcaption {
  @include core-16;
  margin-top:0.5em;
  margin-bottom:2em;
}

// Openlayers controls: zoom

.ol-zoom {
  position:absolute;
  right:10px;
  bottom:10px;
  height:60px;
  z-index:1;
}
.ol-zoom-in,
.ol-zoom-out,
.ol-zoom-reset {
  border:0;
  text-indent: -5000px;
  white-space: nowrap;
  -webkit-appearance:none;
  background:$link-colour url('#{$path}map-controls-2x.png') no-repeat;
  background-size:100%;
  cursor:pointer;
  height: 40px;
  width: 40px;
  border-radius: 0;
}
.ol-zoom-in,
.ol-zoom-out {
  position: relative;
  display: none;
  @include media(tablet) {
    display:block;
    height: 30px;
    width: 30px;
  }
}
.ol-zoom-in {
  background-position:0% 25%;
}
.ol-zoom-out {
  background-position:0% 50%;
}
.ol-zoom-reset {
  position: absolute;
  right:10px;
  bottom:10px;
  background-position:0% 0%;
  @include media(tablet) {
    height: 30px;
    width: 30px;
    top:auto;
    bottom:70px;
  }
}
.ol-zoom-in:hover,
.ol-zoom-out:hover,
.ol-zoom-reset:hover,
.ol-full-screen:hover {
  background-color:$focus-colour;
}
.ol-zoom-in:focus,
.ol-zoom-out:focus,
.ol-zoom-reset:focus,
.ol-full-screen:focus {
  z-index:2;
}

// Map control start / reset drawing

.ol-place-marker {
  position:absolute;
  font-size: 16px;
  color:white;
  background-color:$link-colour;
  line-height:1em;
  left:10px;
  bottom:10px;
  z-index:1;
  border:0;
  height:40px;
  width:70px;
  padding:0;
  border-radius: 0;
  cursor:pointer;
  background-repeat: no-repeat;
  background-size:50%;
  background-position:center center;
  &:before {
    content:'Marker'
  }
  span {
    display:none;
  }
  @include media(tablet) {
    height: 30px;
    width:104px;
    &:before {
      content:''
    }
    span {
      display:inline;
    }
  }
}
.ol-draw-shape {
  position:absolute;
  font-size: 16px;
  color:white;
  background-color:$link-colour;
  line-height:1em;
  left:80px;
  bottom:10px;
  z-index:1;
  border:0;
  height:40px;
  width:70px;
  padding:0;
  border-radius: 0;
  cursor:pointer;
  background-repeat: no-repeat;
  background-size:50%;
  background-position:center center;
  &:before {
    content:'Shape'
  }
  span {
    display:none;
  }
  @include media(tablet) {
    left:114px;
    height:30px;
    width:96px;
    &:before {
      content:''
    }
    span {
      display:inline;
    }
  }
}

// Reset / delete button

.ol-draw-delete {
  bottom:10px;
  left:155px;
  width:40px;
  height:40px;
  position: absolute;
  text-indent:-5000px;
  font-size: 16px;
  color:white;
  background-color:$link-colour;
  line-height:1em;
  border-radius:0;
  border:0;
  padding:0;
  background-image: url('#{$path}map-delete-2x.png');
  background-repeat: no-repeat;
  background-size:50%;
  background-position:center center;
  cursor:pointer;
  @include media(tablet) {
    left:280px;
    height:30px;
    width:30px;
    background-size:60%;
  }
}

// Map control undo/redo

.ol-draw-undo,
.ol-draw-redo {
  position:absolute;
  display:none;
  font-size: 16px;
  color:white;
  background-color:$link-colour;
  line-height:1em;
  left:155px;
  bottom:10px;
  z-index:1;
  border:0;
  height:40px;
  width:40px;
  padding:0;
  border-radius: 0;
  cursor:pointer;
  background-repeat: no-repeat;
  background-size:50%;
  background-position:center center;
  text-indent:-5000px;
  @include media(tablet) {
    display:block;
    left:215px;;
    height:30px;
    width:30px;
    background-size:60%;
  }
}
.ol-draw-undo {
  background-image: url('#{$path}map-undo-2x.png');
}
.ol-draw-redo {
  background-image: url('#{$path}map-redo-2x.png');
  @include media(tablet) {
    left:245px;
  }
}

.ol-draw-delete:hover,
.ol-draw-shape:hover,
.ol-place-marker:hover,
.ol-draw-undo:hover,
.ol-draw-redo:hover {
  background-color:$focus-colour;
}

.ol-draw-delete:disabled,
.ol-draw-shape:disabled,
.ol-place-marker:disabled,
.ol-draw-undo:disabled,
.ol-draw-redo:disabled {
  background-color:$border-colour;
  cursor:default;
}

.ol-draw-delete:focus,
.ol-place-marker:focus,
.ol-draw-shape:focus,
.ol-draw-undo:focus,
.ol-draw-redo:focus {
  z-index:2;
}

// Bottom controls with overlay

.has-overlay {
  .ol-place-marker,
  .ol-draw-shape,
  .ol-draw-undo,
  .ol-draw-redo,
  .ol-draw-delete {
    @include media(mobile) {
      bottom:4.125em;
    }
  }
}

// Map control fullscreen

.ol-full-screen {
  position:absolute;
  right:10px;
  top:10px;
  z-index:1;
  border:0;
  height: 40px;
  width: 40px;
  text-indent: -5000px;
  background:$link-colour url('#{$path}map-controls-2x.png') no-repeat  50% 77.5%;
  background-size:30px 150px;
  border-radius: 0;
  cursor:pointer;
  @include media(tablet) {
    background-size:100%;
    background-position: 0 75%;
    height: 30px;
    width: 30px;
  }
}

// Map key

.map-control-key {
  @include core-16;
  position: absolute;
  background:$link-colour;
  z-index:3;
  left:10px;
  top:10px;
  text-align:left;
  border:0;
  color:white;
  cursor:pointer;
  -webkit-appearance:none;
  padding: 0px;
  height:40px;
  width:40px;
  span {
    display:none;
  }
  @include media(tablet) {
    height:30px;
    width:54px;
    padding: 0px 22px 0px 7px;
    span {
      display:inline;
    }
  }
}
.map-control-key:after {
  content: '';
  position: absolute;
  top:50%;
  margin-top:-6.5px;
  right:10px;
  width:17px;
  height: 13px;
  background:transparent url('#{$path}map-legend-2x.png') no-repeat;
  background-size:100%;
  background-position:top center;  
  @include media(tablet) {
    margin-top:-5px;
    right:5px;
    width:13px;
    height: 10px;
  }
}
.map-key-open .map-control-key {
  right: 10px;
  left: auto;
  text-indent:-5000px;
  padding: 0;
  width:40px;
  height:40px;
  background:white;
  color:$link-colour;
  @include media(tablet) {
    right: 6px;
    height:30px;
    width:30px;
  }
}
.map-key-open .map-control-key:after {
  background-position:bottom center; 
  @include media(tablet) {
    right:9px;
  }
} 
.map-control-key:hover {
  background:$focus-colour;
}

// Map key content

.map-key-container {
  display:none;
  position:relative;
  height:100%;
  z-index:2;
}
.map-key-heading {
  position:absolute;
  left:0;
  right:0;
  height:45px;
  z-index:2;
  border-bottom:1px solid $border-colour;
  padding-top:15px;
  padding-left:10px;
  padding-right:10px;
  @include media(tablet) {
    padding-left:15px;
    padding-right:15px;  
  }
  h2 {
    margin-top:6px;
    margin-bottom:0;
    @include media(tablet) {
      margin-top:0;
    }
  }
}
.map-key-copyright {
  @include core-16;
  position: absolute;
  bottom:0;
  left:0;
  right:0;
  height:24px;
  padding-top:20px;
  padding-right:10px;
  padding-left:10px;
  @include media(tablet) {
    padding-top:15px;
    padding-right:15px;
    padding-left:15px;
    height:34px;
  }
}
.map-key-open {
  position:absolute;
  z-index:3;
  left:0;
  top:0px;
  bottom:0px;
  width:100%;
  max-width:16em;
  background-color:white;
}
.map-key-open .map-key-container {
  display:block;
}

// Map caption/overlay

.ol-overlay-container {
  z-index:2;
  background-color:white;
  @include media(mobile) {
    bottom:0 !important;
    left:0 !important;
    margin-left:0;
    margin-bottom:0;
    width:100%;
    height:3.5em;
  }
  @include media(tablet) {
    border: 1px solid $border-colour;
    width:200px;
    margin-left:-100px;
    margin-bottom:45px;
    height:auto;
  }
}
.ol-map-label {
  padding:10px;
  @include core-16;
  p {
    margin: 0;
  }
}

// Map key features

.map-key-features {
  position:absolute;
  top:61px;
  bottom:44px;
  left:0;
  right:0;
  padding:10px 0;
  @include media(tablet) {
    padding:15px 0;
    bottom:49px;
  }
  overflow:hidden;
  overflow:auto;
}
.multiple-choice-key {
  @extend .multiple-choice;
  padding-left:28px;
  margin-bottom:7px;
  @include media(tablet) {
    margin-bottom:10px;
  }
  input {
    width:28px;
    height:28px;
  }
  label {
    padding: 7px 10px 5px 10px;
    @include core-16;
    @include media(tablet) {
      padding: 5px 10px 4px 12px;
    }
  }
}
.multiple-choice-key [type=checkbox] + label::before {
  width: 24px;
  height: 24px;
}
.multiple-choice-key [type=checkbox] + label::after {
  top: 8px;
  left: 6px;
  width: 12px;
  height: 5px;
  border-width: 0 0 4px 4px;
}
.multiple-choice-key:last-child, .multiple-choice-key:last-of-type {
  margin-bottom:7px;
  @include media(tablet) {
    margin-bottom:10px;
  }
}
.key-feature {
  display:block;
  padding:0 10px;
  @include media(tablet) {
    padding:0 15px;
  }
  &.key-section {
    border-bottom:1px solid $border-colour;
    margin-bottom:10px;
    padding-bottom:3px;
    @include media(tablet) {
      margin-bottom:15px;
      padding-bottom:5px;
    }
  }
}
.key-feature:after {
  content: "";
  display: table;
  clear: both;
}
.key-feature-group {
  float:left;
  clear:left;
}
li .key-feature-group {
  padding-left:38px;
  @include media(tablet) {
    padding-left:40px;
  }
}
.key-feature-group li {
  margin-bottom:7px;
  padding: 7px 10px 5px 0;
  @include core-16;
  @include media(tablet) {
    margin-bottom:10px;
    padding: 5px 10px 4px 0;
  }
}
.key-feature-label {
  position:relative;
  display:block;
  margin-left:36px;
}
.key-symbol {
  position:absolute;
  top:0;
  left:0;
  width:26px;
  height:19px;
  margin-left:-35px;
  margin-top:-2px;
  background-color: #ccc;
  border:0;
  @include media(tablet) {
    margin-top:0;
  }
  &.key-symbol-zone3 {
    background-color: #2E358B;
  }
  &.key-symbol-zone3-benefitting {
    background-color: transparent;
  }
  &.key-symbol-zone2 {
    background-color:#2B8CC4;
  }
  &.key-symbol-flood-defence {
    background-color:transparent;
  }
  &.key-symbol-main-river {
    background-color:transparent;
  }
  &.key-symbol-flood-storage {
    background-color:transparent;
  }
}