$path: "/public/";

.column-two-thirds-map {
  position:relative;
}

.map {
  margin-top:-1px;
  @include media(tablet) {
    margin-top:0;
    padding-bottom:15px;
  }
}
.map-container {
  position:relative;
  height:275px;
  border:1px solid $border-colour;
}

.map-container-planning {
  border:1px solid $border-colour;
  @include media(tablet) {
    height:576px;
  }
}

.map-container.map-container-fullscreen,
.map-container-planning.map-container-fullscreen {
  position:fixed;
  z-index: 99;
  top:0;
  bottom:0;
  left:0;
  right:0;
  height:100%;
  width:100%;
  background-color:white;
}

.map-link {
  @include media(tablet) {
    display:none;
  }
}

.map-container-inner {
  position: relative;
  z-index:1;
  width:100%;
  height:100%;
}

.map figcaption {
  @include core-16;
  margin-top:0.5em;
  margin-bottom:2em;
}

// Openlayers controls: zoom

.ol-zoom {
  position:absolute;
  right:10px;
  bottom:10px;
  height:60px;
  z-index:1;
}
.ol-zoom-in,
.ol-zoom-out,
.ol-zoom-reset {
  border:0;
  text-indent: -5000px;
  white-space: nowrap;
  -webkit-appearance:none;
  background:$link-colour url('#{$path}map-controls-2x.png') no-repeat;
  background-size:100%;
  cursor:pointer;
  height: 40px;
  width: 40px;
}
.ol-zoom-in,
.ol-zoom-out {
  position: relative;
  display: none;
  @include media(tablet) {
    display:block;
    height: 30px;
    width: 30px;
  }
}
.ol-zoom-in {
  background-position:0% 25%;
}
.ol-zoom-out {
  background-position:0% 50%;
}
.ol-zoom-reset {
  position: absolute;
  right:10px;
  bottom:10px;
  background-position:0% 0%;
  @include media(tablet) {
    height: 30px;
    width: 30px;
    bottom:70px;
  }
}
.ol-zoom-in:hover,
.ol-zoom-out:hover,
.ol-zoom-reset:hover,
.ol-full-screen:hover {
  background-color:$focus-colour;
}
.ol-zoom-in:focus,
.ol-zoom-out:focus,
.ol-zoom-reset:focus,
.ol-full-screen:focus {
  z-index:2;
}

// Map control start / reset drawing

.ol-draw-reset,
.ol-draw-start {
  position:absolute;
  @include core-16;
  color:$link-colour;
  background:white;
  line-height:1em;
  left:75px;
  top:10px;
  z-index:1;
  border:0;
  height: 30px;
  padding:0 5px;
  cursor:pointer;
}

.ol-draw-reset:hover,
.ol-draw-start:hover {
  background:$focus-colour;
}

.ol-draw-reset[disabled="disabled"],
.ol-draw-start[disabled="disabled"] {
  display:none;
}


// Map control fullscreen

.ol-full-screen {
  position:absolute;
  right:10px;
  top:10px;
  z-index:1;
  border:0;
  height: 40px;
  width: 40px;
  text-indent: -5000px;
  background:$link-colour url('#{$path}map-controls-2x.png') no-repeat 0 75%;
  background-size:100%;
  cursor:pointer;
  @include media(tablet) {
    height: 30px;
    width: 30px;
  }
}

// Map key

.map-control-key {
  @include core-16;
  position: absolute;
  background:white;
  z-index:2;
  left:10px;
  top:10px;
  text-align:left;
  border:0;
  color:$link-colour;
  cursor:pointer;
  -webkit-appearance:none;
  padding: 0px 22px 0px 6px;
  height:40px;
  @include media(tablet) {
    height:30px;
  }
}
.map-control-key:after {
  content: '';
  position: absolute;
  top:50%;
  margin-top:-5px;
  right:5px;
  width:13px;
  height: 10px;
  background:transparent url('#{$path}map-legend-2x.png') no-repeat;
  background-size:100%;
  background-position:top center;  
}
.map-key-open .map-control-key {
  right: 0;
  left: auto;
  text-indent:-5000px;
  padding: 0;
  width:40px;
  height:40px;
  @include media(tablet) {
    right: 6px;
    height:30px;
    width:30px;
  }
}
.map-key-open .map-control-key:after {
  right:14px;
  background-position:bottom center; 
  @include media(tablet) {
    right:9px;
  }
} 
.map-control-key:hover {
  background:$focus-colour;
}

// Map copyright statement

.map-key-copyright {
  @include core-16;
  position: absolute;
  bottom:10px;
  left: 10px;
  width:100%;
}

// Map key copy

.map-key-copy {
  display:none;
  padding:15px;
  overflow:hidden;
}
.map-key-open {
  position:absolute;
  z-index:2;
  left:0;
  top:0px;
  bottom:0px;
  width:70%;
  max-width:20em;
  background-color:white;
}
.map-key-open .map-key-copy {
  display:block;
}
