$path: "/public/";

.column-map {
    float:left;
}

.panel-border-warning {
    border-left-width: 5px;
    border-color:#e3000f;
    margin-bottom:1em;
}

.panel-border-warning-nearby {
    border-left-width: 5px;
    margin-bottom:1em;
}

.panel-warning:last-child {
    margin-bottom:0.5em;
}

.panel-border-alert {
    border-left-width: 5px;
    border-color:#f18700;
    margin-bottom:2em;
}

.notice-warnings {
    strong {
        margin:0;
        padding:0;
        display:block;
    }
    p {
        margin-bottom:0.5em;
    }
    li {
        margin-bottom:10px;
    }
    .notice-copy {
        padding-left: 51px;
        @include media(tablet) {
            padding-left: 56px;
        }
        margin-left: -15px;
        display:inline-block;
    }
}

.notice-alert, .notice-warning {
    strong {
        padding-top:0;
        padding-left:70px;
        @include media(tablet) {
            padding-left:76px;
        }
    }
}

.notice .icon-warning {
    width:32px;
    height:32px;
    background-image:url('#{$path}icon-warning-small-2x.png');
    background-position:center center;
    background-size:80%;
    margin-top:-16px;
    margin-left:-2px;
    @include media(tablet) {
        background-size:100%;
    }
}

.notice .icon-flood-warning,
.notice .icon-flood-warning-severe {
    width:32px;
    height:32px;
    background-image:url('#{$path}icon-flood-warning-small-2x.png');
    background-position:center center;
    background-size:80%;
    margin-top:-16px;
    margin-left:-2px;
    @include media(tablet) {
        background-size:100%;
    }
}

.notice .icon-flood-alert {
    width:32px;
    height:32px;
    background-image:url('#{$path}icon-flood-alert-small-2x.png');
    background-position:center center;
    background-size:80%;
    margin-top:-16px;
    margin-left:-2px;
    @include media(tablet) {
        background-size:100%;
    }
}

.notice .icon-flood-warning-severe-large {
    width:56px;
    height:56px;
    margin-top:-30px;
    background-image:url('#{$path}icon-flood-warning-severe-2x.gif');
}

.notice .icon-flood-warning-large {
    width:56px;
    height:56px;
    margin-top:-30px;
    background-image:url('#{$path}icon-flood-warning-2x.gif');
}

.notice .icon-flood-alert-large {
    width:56px;
    height:56px;
    margin-top:-30px;
    background-image:url('#{$path}icon-flood-alert-2x.gif');
}
