$path: "/public/";

.notice-warnings {
    margin-bottom:1em;
    &:last-of-type {
        margin-top:2em;
        margin-bottom:2em;
    }
    strong {
        margin:0;
        padding:0;
        display:block;
    }
    p {
        margin-bottom:0.5em;
    }
    li {
        margin-bottom:10px;
    }
    a, span {
        padding-left: 55px;
        @include media(tablet) {
            padding-left: 60px;
        }
        margin-left: -15px;
        display:inline-block;
    }
}

.notice-alert, .notice-warning {
    margin-bottom:2em;
    @include media(tablet) {
        margin-bottom:3em;
    }
    strong {
        padding-top:0;
        @include media(tablet) {
            padding-left:76px;
        }
    }
}

.notice .icon-alert {
    width:35px;
    height:35px;
    background-image:url('#{$path}icon-flood-alert-2x.gif');
    background-position:center center;
    background-size:80%;
    @include media(tablet) {
        background-size:100%;
    }
}

.notice .icon-warning {
    width:35px;
    height:35px;
    background-image:url('#{$path}icon-flood-warning-2x.gif');
    background-position:center center;
    background-size:80%;
    @include media(tablet) {
        background-size:100%;
    }
}

.notice .icon-large {
    width:50px;
    height:50px;
    margin-top:-25px;
}
