$path: "/public/";

@import 'govuk-elements';
@import 'banner';
@import 'message';

.related {
  padding-top: 5px;
  margin-top: 40px;
  border-top: 10px solid #005ea5;
}

.related h2 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-top: 0.3em;

  &:not(:first-child) {
    margin-top: 1.25em;
  }
}

.related li {
  list-style-type: none
}

.related li a {
  display: block;
  line-height: 1.25em;
  margin-bottom: 10px;
}

.related ul li.related-items-more a {
  font-weight: bold;
}

.related ul {
  font-size: 16px;
  line-height: 1.25;
}

.find-location-for-service {
    background-color: #dee0e2;
    min-height: 2em;
    padding: 1em 0.75em 1em 1em;
    position: relative;

    .instruction {
      font-size: 20px;
      font-weight: bold;
    }
}