<details>
  <summary aria-controls="details-content-other-flood-info" aria-expanded="false" role="button">
    <span class="summary">Other ways to get this information</span>
  </summary>
  <div class="panel panel-border-narrow" id="details-content-other-flood-info" aria-hidden="true">
    <p class="intro">For general advice and information about flood warnings in force, call our 24-hour Floodline on:</p>
    <ul class="contact-numbers">
      <li><span class="contact-type">Telephone:</span> 0345 988 1188</li>
      <li><span class="contact-type">Type talk:</span> 0345 602 6340 <em>(for the hard of hearing)</em></li>
    </ul>
    <div class="call-charges">
    <p>
      <a href="https://www.gov.uk/call-charges" rel="external" title="Find out more about call charges">Find out more about call charges</a>
    </p>
  </div>
</details>
