<details>
  <summary aria-controls="details-content-affected-by-flooding" aria-expanded="false" role="button">
    <span class="summary">Flood risk help and advice</span>
  </summary>
  <div class="panel panel-border-narrow" id="details-content-affected-by-flooding" aria-hidden="true">
    <a href="https://www.gov.uk/prepare-for-flooding" rel="external">Prepare for a flood</a><br>
    <a href="https://www.gov.uk/help-during-flood" rel="external">Getting help during or after a flood</a><br>
  </div>
</details>
