<!--
<div class="breadcrumbs">
	<ol>
		<li><a href="/">Flooding</a></li>
		<li><a href="/">Environment and countryside</a></li>
		<li><a href="/">Flooding and extreme weather</a></li>
		<li><a href="/">Current flood risk</a></li>
	</ol>
</div>
-->

<main>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge" style="margin-bottom:0.75em">
				Monitor river levels
				<span class="heading-secondary">Mytholmroyd</span>
			</h1>

			<p>River and sea levels are regularly checked by a network of monitoring stations. These levels can help you understand your flood risk now and in the next few days.</p>

			<h2 class="heading-medium">Select a measuring station</h2>
			<strong class="bold-small">Cragg brook at</strong>
			<ul class="list">
				<li>Mytholmroyd Dauber Bridge</li>
			</ul>
			<strong class="bold-small">River Calder at</strong>
			<ul class="list">
				<li>Brearley</li>
				<li><a href="/river-and-sea-levels/river-calder-at-mytholmroyd?location=mytholmroyd">Mytholmroyd</a></li>
				<li>Hebden Bridge</li>
				<li>Todmorden Callis Bridge</li>
				<li>Todmorden</li>
			</ul>
			<strong class="bold-small">Hebdon Water at</strong>
			<ul class="list">
				<li>Nutclough</li>
			</ul>
			<p><a href="">View measuring stations on a map</a></p>
			<p><a href="">Change location</a></p>

		</div>

		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2>Flooding and extreme weather</h2>
					<nav role="navigation">
						<ul>
							<li>
								<a href="">Item</a>
							</li>
						</ul>
					</nav>
				</aside>      
			</div>    
		</div>

	</div>

</main>
