<!--
<div class="breadcrumbs">
	<ol>
		<li><a href="/">Flooding</a></li>
		<li><a href="/">Environment and countryside</a></li>
		<li><a href="/">Flooding and extreme weather</a></li>
		<li><a href="/">Current flood risk</a></li>
	</ol>
</div>
-->

<main>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				Map showing potential affected areas
				{{#if location}}
				<span class="heading-secondary">{{ location }}</span>
				{{/if}}
			</h1>

			<div id="map" class="map"></div>

		</div>

		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2>Flooding and extreme weather</h2>
					<nav role="navigation">
						<ul>
							<li>
								<a href="">Item</a>
							</li>
						</ul>
					</nav>
				</aside>      
			</div>    
		</div>

	</div>

</main>

<!-- This content to go at end of body -->
<script src="https://openlayers.org/en/v4.2.0/build/ol.js" type="text/javascript"></script>
<script src="/public/javascripts/map.js" type="text/javascript"></script>
<script src="/public/javascripts/features.js" type="text/javascript"></script>
