<main>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">Prototype
				<span class="heading-secondary">
					Check flood risk
				</span>
			</h1>

			<h2 class="heading-large">Scenarios</h2>

			<table>
				<caption class="visuallyhidden"></caption>
				<thead>
					<tr>
						<th colspan="2">
							<strong class="bold-small">Prototype locations</strong>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="width:9em">Mytholmroyd</td>
						<td>Contains target areas</td>
					</tr>
					<tr>
						<td>HX7 5QP</td>
						<td>Outside target areas</td>
					</tr>
					<tr>
						<td>HX7 5DL</td>
						<td>Intersects with an alert target</td>
					</tr>
					<tr>
						<td>HX7 5AF</td>
						<td>Intersects with a warning target</td>
					</tr>
				</tbody>
			</table>

			<table style="margin-top:1em">
				<caption class="visuallyhidden"></caption>
				<thead>
					<tr>
						<th colspan="2">
							<strong class="bold-small">Example user jounreys</strong>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="width:9em"><a href="/start?s=a">(a) Start</a></td>
						<td>Normal conditions ie no warnings or alerts in force.</td>
					</tr>
					<tr>
						<td><a href="/start?s=b">(b) Start</a></td>
						<td>One flood alert in force.</td>
					</tr>
					<tr>
						<td><a href="/start?s=c">(c) Start</a></td>
						<td>Two flood warnings and a flood alert in force.</td>
					</tr>
					<tr>
						<td><a href="/start?s=d">(d) Start</a></td>
						<td>One severe, several warnings and an alert in force.</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>

</main>