<main>

	<div class="grid-row">

		<div class="column-full">

			<h1 class="heading-xlarge">Prototype
				<span class="heading-secondary">
					Check flood risk
				</span>
			</h1>

			<h2 class="heading-large">Scenarios</h2>

			<table>
				<caption class="visuallyhidden"></caption>
				<tr>
					<th colspan="2">
						<strong class="bold-small">Prototype locations</strong>
					</th>
				</tr>
				<tr>
					<td style="width:30%">Mytholmroyd</td>
					<td>Contains target areas</td>
				</tr>
				<tr>
					<td>HX7 5QP</td>
					<td>Outside target areas</td>
				</tr>
				<tr>
					<td>HX7 5DL</td>
					<td>Intersects with an alert target</td>
				</tr>
				<tr>
					<td>HX7 5AF</td>
					<td>Intersects with a warning target</td>
				</tr>
				<tr>
					<th colspan="2">
						<strong class="bold-small">Example user jounreys</strong>
					</th>
				</tr>
				<tr>
					<td style="width:9em"><a href="/check-flood-risk?s=a">Check risk</a></td>
					<td>(a) Normal conditions ie no warnings or alerts in force.</td>
				</tr>
				<tr>
					<td><a href="/check-flood-risk?s=b">Check risk</a></td>
					<td>(b) One flood alert in force.</td>
				</tr>
				<tr>
					<td><a href="/check-flood-risk?s=c">Check risk</a></td>
					<td>(c) Two flood warnings and a flood alert in force.</td>
				</tr>
				<tr>
					<td><a href="/check-flood-risk?s=d">Check risk</a></td>
					<td>(d) One severe, several warnings and an alert in force.</td>
				</tr>
				<tr>
					<td><a href="/check-flood-zone">Find out what flood zone you're in</a></td>
					<td>Not scenario specific</td>
				</tr>
			</table>

		</div>

	</div>

</main>