<main>

	<div class="breadcrumbs">
		<ol>
			<li><a href="/">Flooding</a></li>
			<li><a href="/">Environment and countryside</a></li>
			<li><a href="/">Flooding and extreme weather</a></li>
		</ol>
	</div>

	<div class="grid-row">

		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Find out if you're at risk of flooding</h1>
			
			<div class="location-search">
				<form method="post" class="location-search-form" action="/mytholmroyd" onsubmit="window.location.href='/mytholmroyd';return false">
					<fieldset>
						<legend class="visuallyhidden">Location lookup</legend>
						<div class="ask_location">
							<label class="heading-medium" for="location">Enter a location</label>
							<p>For example SW1A 2AA or Newcastle</p>
							<input class="form-control" name="location" type="text" value="Mytholmroyd">
							<button type="submit" class="button">Find</button>
							<p><a rel="external" href="http://www.royalmail.com/find-a-postcode">Find a postcode on Royal Mail's postcode finder</a></p>
						</div>
					</fieldset>
				</form>
			</div>

		</div> 
		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2>Flooding and extreme weather</h2>
					<nav role="navigation">
						<ul>
							<li><a href="">Item</a></li>
							<li><a href="">Item</a></li>
							<li class="related-items-more">
								<a href="#">More
									<span class="visuallyhidden">in Flood information services</span>
								</a>            
							</li>
						</ul>
					</nav>
				</aside>       
			</div>
		</div>
	</div>

</main>
