<main>

	<div class="grid-row">

		<div class="column-full">

			<h1 class="heading-xlarge">Prototype
				<span class="heading-secondary">
					Check flood risk
				</span>
			</h1>

			<h2 class="heading-large">Scenarios</h2>

			<table>
				<caption class="visuallyhidden"></caption>
				<tr>
					<th colspan="2">
						<strong class="bold-small">Sample data</strong>
					</th>
				</tr>
				<tr>
					<td style="width:30%">Mytholmroyd</td>
					<td>Town with nearby target areas</td>
				</tr>
				<tr>
					<td>12 / HX7 5QP</td>
					<td>Postcode outside target areas</td>
				</tr>
				<tr>
					<td>28 / HX7 5DL</td>
					<td>Postcode intersects with an alert target</td>
				</tr>
				<tr>
					<td>14 / HX7 5AF</td>
					<td>Postcode intersects with a warning target</td>
				</tr>
				<tr>
					<td>34 / HX7 7LW</td>
					<td>House number / postcode used to show multiple property search results</td>
				</tr>
				<tr>
					<td>Kirkudbright</td>
					<td>Place name used to show none England screens</td>
				</tr>
				<tr>
					<td>83 / DG6 4JW</td>
					<td>House number / postcode used to show none England screens</td>
				</tr>
				<tr>
					<th colspan="2">
						<strong class="bold-small">Example user journeys</strong>
					</th>
				</tr>
				<tr>
					<td style="width:9em"><a href="/check-flood-risk?s=a">Check risk</a></td>
					<td>(a) Normal conditions ie no warnings or alerts in force.</td>
				</tr>
				<tr>
					<td><a href="/check-flood-risk?s=b">Check risk</a></td>
					<td>(b) One flood alert in force.</td>
				</tr>
				<tr>
					<td><a href="/check-flood-risk?s=c">Check risk</a></td>
					<td>(c) Two flood warnings and a flood alert in force.</td>
				</tr>
				<tr>
					<td><a href="/check-flood-risk?s=d">Check risk</a></td>
					<td>(d) One severe, several warnings and an alert in force.</td>
				</tr>
				<tr>
					<td><a href="/get-property-flood-risk-assessment">Check a property's flood risk (England)</a></td>
					<td>Not scenario specific</td>
				</tr>
				<tr>
					<td><a href="/guidance/flood-risk-assessment-for-planning-applications">Find out what flood zone you're in (England)</a></td>
					<td>Not scenario specific</td>
				</tr>
			</table>

			<h2 class="heading-large">Static content</h2>

			<table>
				<caption class="visuallyhidden"></caption>
				<tr>
					<th colspan="2">
						<strong class="bold-small">Advice and guidance</strong>
					</th>
				</tr>
				<tr>
					<td colspan="2"><a href="/prepare-for-flooding">Prepare for floodingd</a></td>
				</tr>
				<tr>
					<td colspan="2"><a href="/respond-to-flooding">Respond to flooding</a></td>
				</tr>
				<tr>
					<td colspan="2"><a href="/recover-from-flooding">Recover from flooding</a></td>
				</tr>
			</table>

		</div>

	</div>

</main>
