<!--
<div class="breadcrumbs">
	<ol>
		<li><a href="/">Flooding</a></li>
		<li><a href="/">Environment and countryside</a></li>
		<li><a href="/">Flooding and extreme weather</a></li>
		<li><a href="/">Current flood risk</a></li>
	</ol>
</div>
-->

<main>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge" style="margin-bottom:1em">
				Current flood risk
				<span class="heading-secondary">{{ model.name }}</span>
			</h1>

			<!--
			<div class="panel panel-warnings">
				<p>
					<strong class="bold-medium">Alert in force - River Calder at Central Mytholmroyd</strong><br/>
					Flooding is possible – be prepared
				</p>
				<p>The time and date of the forecast high water is 7:30 am on 24/06/2017. The forecast tide level is 6.14 m AOD. The forecast wind strength is Force 3 from the direction of west south west. Please note all tide times are in local time and refer to the high water time at Hinkley Point. The conditions only just reach our flood alert threshold for Saturday morning. However peak tides are currently rising and we will re-issue this flood alert, which is likely to remain in force for the weekend.</p>
			</div>
			-->

			<div class="panel panel-border-warnings">
				<div class="notice notice-warnings">
					<p>
						<strong class="bold-medium">2 flood warnings in force</strong>
						Flooding is expected – immediate action required
					</p>
					<ul class="list">
						<li class="notice">
							<i class="icon icon-warning">
								<span class="visually-hidden">Warning</span>
							</i>
							<a href="/warnings/central-mytholmroyd-river-calder">Central Mytholmroyd (River Calder)</a>
						</li>
						<li class="notice">
							<i class="icon icon-warning">
								<span class="visually-hidden">Warning</span>
							</i>
							<span>Hebden Bridge (River Calder and Hebden Water)</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="panel panel-border-alerts">
				<div class="notice notice-warnings">
					<p>
						<strong class="bold-medium">1 flood alert in force</strong>
						Flooding is possible – be prepared
					</p>
					<ul class="list">
						<li class="notice">
							<i class="icon icon-alert">
								<span class="visually-hidden">Warning</span>
							</i>
							<span>Hebden Bridge - Old Gate (Hebden Water)</span>
						</li>
					</ul>
				</div>
			</div>
			
			<p><a href="/map?location=mytholmroyd">View map showing possible affected areas</a></p>

			<h2 class="heading-medium">Things you should do now</h2>
			<p><a href="https://gov.uk/prepare-for-flooding">Prepare for a flood</a>.</p>
			<p>Get uptodate warnings for the area around Mytholmroyd by phone, text message or email. <a href="/get-flood-warnings/select-warning-areas?location=mytholmroyd">Select warning areas</a></p>
			<p>River levels on the River Calder and Hebdon Water forecast possible flooding in the next 36 hours. <a href="/river-and-sea-levels?location=mytholmroyd">Monitor local river levels</a>.</p>

			<details style="margin-top:2em" role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Other ways to get flood warning information</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
					<p>
						<strong class="bold-small">Floodline</strong><br/>
						Telephone: 0345 988 1188<br/>
						24-hour service
					</p>
					<p>
						<a href="">Learn more about call charges</a>
					</p>
                </div>
            </details>

			<p style="margin-top:2em"><a href="">Change location</a></p>

		</div>

		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2>Weather forecast</h2>
					<p class="font-xsmall">There is an <a href="">amber warning for rain</a> in the north of England for 23-24 June. <a href="">Check the local weather forecast</a>.</p>
					<h2 style="margin-top:2em">Flooding and extreme weather</h2>
					<nav role="navigation">
						<ul>
							<li>
								<a href="">Check your long term flood risk</a>
							</li>
							<li>
								<a href="">Check your flood risk for planning</a>
							</li>
						</ul>
					</nav>
				</aside>      
			</div>    
		</div>

	</div>

</main>
