<!--
<div class="breadcrumbs">
	<ol>
		<li><a href="/">Flooding</a></li>
		<li><a href="/">Environment and countryside</a></li>
		<li><a href="/">Flooding and extreme weather</a></li>
		<li><a href="/">Current flood risk</a></li>
	</ol>
</div>
-->

{{#if trace }}
<p class="font-xsmall">{{ json model }}<p>
{{/if }}

<main>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge" style="margin-bottom:1em">
				Current flood risk
				<span class="heading-secondary">
					{{ model.location }}
				</span>
			</h1>

		</div>

	</div>

	<div class="grid-row">

		<div class="column-two-thirds">

			{{#if model.hasIntersectWarning }}
			<div class="panel panel-border-warning">
				<p class="notice notice-warning">
					<i class="icon icon-flood-warning icon-flood-warning-large">
						<span class="visually-hidden">Warning</span>
					</i>
					<strong class="bold-medium notice-copy">
						Flood warning
					</strong>					
				</p>
				<p class="font-medium">
					<a href="/warnings/{{ model.intersectingWarning.path }}">{{ model.intersectingWarning.name }}</a><br/>
					Flooding is expected - immediate action required
				</p>
			</div>
			{{else if model.hasIntersectAlert }}
			<div class="panel panel-border-alert">
				<p class="notice notice-warning">
					<i class="icon icon-flood-alert icon-flood-alert-large">
						<span class="visually-hidden">Alert</span>
					</i>
					<strong class="bold-medium notice-copy">
						Flood alert
					</strong>					
				</p>
				<p class="font-medium">
					<a href="/warnings/{{ model.intersectingAlert.path }}">{{ model.intersectingAlert.name }}</a><br/>
					Flooding is possible - be prepared
				</p>
			</div>
			{{/if }}

			{{#if model.warnings }}
			<div class="panel {{#if model.hasIntersectAlertOrWarning }}panel-border-warning-nearby{{ else }}panel-border-warning{{/if}}">
				<div class="notice notice-warnings">
					<p>
						<strong class="{{#if model.intersectingWarning.id }}bold-small{{ else }}bold-medium{{/if}}">{{ model.warnings.length }} flood warning{{#isPlural model.warnings.length}}s{{/isPlural}} {{#if model.intersectingWarning.id }}nearby{{ else }}in this area{{/if}}</strong>
						Flooding is expected – immediate action required
					</p>
					<ul class="list">
						{{#each model.warnings }}
						<li class="notice">
							<i class="icon icon-flood-warning">
								<span class="visually-hidden">Warning</span>
							</i>
							<a class="notice-copy" href="/warnings/{{ this.path }}">{{ this.name }}</a>
						</li>
						{{/each }}
					</ul>
				</div>
			</div>
			{{/if}}

			{{#if model.alerts}}
			<div class="panel {{#if model.warnings }}panel-border-warning-nearby{{ else }}panel-border-alert{{/if}}">
				<div class="notice notice-warnings">
					<p>
						<strong class="{{#if model.intersectingWarning.id }}bold-small{{ else }}bold-medium{{/if}}">{{ model.alerts.length }} flood alert{{#isPlural model.alerts.length}}s{{/isPlural}} in this area</strong>
						Flooding is possible – be prepared
					</p>
					<ul class="list">
						{{#each model.alerts }}
						<li class="notice">
							<i class="icon icon-flood-alert">
								<span class="visually-hidden">Warning</span>
							</i>
							<a class="notice-copy" href="/warnings/{{ this.path }}">{{ this.name }}</a>
						</li>
						{{/each }}
					</ul>
				</div>
			</div>
			{{/if}}
			
		</div>

		<div class="column-third">
			<div class="map-outer">
				<div class="map-inner">
					<div id="map" class="map map-small"></div>
					<p style="margin-top:0.5em">Potential affected areas</p>
					<!--<p><a href="/map?location=mytholmroyd">View map showing possible affected areas</a></p>-->
				</div>
			</div>
			<p>Weather component<p>
		</div>
	
	</div>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h2 class="heading-medium">Prepare for flooding</h2>
			{{#if model.intersectingWarning.id }}
			<p>Actions for someone who lives within or on the boundary of a flood warning area that is currently in force. <a href="https://gov.uk/prepare-for-flooding">Prepare for flooding</a></p>
			{{else if model.intersectingAlert.id}}
			<p>Actions for someone who lives within or on the boundary of a flood alert area that is currently in force. <a href="https://gov.uk/prepare-for-flooding">Prepare for flooding</a>.</p>
			{{else }}
			<p>Actions for someone who lives near a flood alert or warning area in force. <a href="https://gov.uk/prepare-for-flooding">Prepare for flooding</a>.</p>
			{{/if }}

			<h2 class="heading-medium">Get flood warnings by phone, text or email</h2>
			{{#if model.intersectingWarning.id }}
			<p>Get updates to {{ model.intersectingWarning.name }} area and nearby warnings by phone, text message or email. <a href="/get-flood-warnings/select-warning-areas?location=mytholmroyd">Select warning areas</a></p>
			{{else }}
			<p>Get flood warnings for this area by phone, text message or email.<br/><a href="/get-flood-warnings/select-warning-areas?location=mytholmroyd">Select warning areas</a></p>
			{{/if }}


			<details style="margin-top:2em" role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Other ways to get flood warning information</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
					<p>
						<strong class="bold-small">Floodline</strong><br/>
						Telephone: 0345 988 1188<br/>
						24-hour service
					</p>
					<p>
						<a href="">Learn more about call charges</a>
					</p>
                </div>
            </details>


			<h2 class="heading-medium">How current river levels might impact this area?</h2>
			<p>Current river levels in the Upper Calder catchment are above normal range. Be aware of the following potential impacts.</p>
			<ul class="list list-bullet">
				<li>Overtopping of the River Calder at the junction of Longfellows Crecent and Burnley Road</li>
				<li>Flooding of low-lying land around St Michaels church</li>
			</ul>
			<p><a href="/river-and-sea-levels?location=mytholmroyd">Check river levels in the Upper Calder catchment</a>.</p>

			<p style="margin-top:2em"><a href="">Change location</a></p>

		</div>

	</div>

</main>

<!-- This content to go at end of body -->
<script src="https://openlayers.org/en/v4.2.0/build/ol.js" type="text/javascript"></script>
<script src="/public/javascripts/map.js" type="text/javascript"></script>
