<!--
<div class="breadcrumbs">
	<ol>
		<li><a href="/">Flooding</a></li>
		<li><a href="/">Environment and countryside</a></li>
		<li><a href="/">Flooding and extreme weather</a></li>
		<li><a href="/">Current flood risk</a></li>
	</ol>
</div>
-->

{{#if trace }}
<p class="font-xsmall">{{ json model }}<p>
{{/if }}

<main>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				Current flood risk
				<span class="heading-secondary">
					{{ model.location }}
				</span>
			</h1>
			
			<!-- Imediate location -->

			<p class="lede">
				Flooding from rivers is not forecast for this location in the next 36hours.
			</p>

			<details style="margin-top:2em;margin-bottom:2em" role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false">
					<span class="summary">Were you expecting to see a flood warning or alert {{#if model.hasPostcode }}nearby{{else }}in this area{{/if }}?</span>
				</summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
					<p>Text</p>
                </div>
            </details>

			<!-- Long term flood risk -->

			{{#if model.hasRiskRiverCoastOrResovoir}}
			<p class="notice notice-warnings">
				<i class="icon icon-warning">
					<span class="visually-hidden">Warning</span>
				</i>
				<strong class="bold-small notice-copy">Your property might be at risk from flooding in the future</strong>
			</p>
			{{/if}}
			<p>Parts of this area may experience flooding from {{ model.riskTypesString }} in the future. Find out what factors could cause or contribute to potential flooding and how likely it is to affect you. <a href="">Check your property's long term flood risk</a>.</p>

			<!-- Guidance -->

			{{#if model.hasRiskRiverCoastOrResovoir }}
			<h2 class="heading-medium">Prepare for future flooding</h2>
			<p><a href="">Check your insurance</a> and <a href="https://www.gov.uk/prepare-for-flooding/future-flooding">protect your property</a> from future flooding.</p>
			{{/if }}

			<!-- Get flood warnings -->

			<h2 class="heading-medium">Get flood warnings by phone, text or email</h2>
			<p>When flooding is forecast {{#if model.hasRiskRiverCoastOrResovoir }}for this area{{else }}nearby{{/if }}, warnings are sent by phone, text or email. <a href="/get-flood-warnings/select-warning-areas?location=mytholmroyd">Get warnings for nearby areas</a>.</p>
			
			<!-- Report a flood -->

			<h2 class="heading-medium">Report a flood or possible cause of flooding</h2>
			<p>Who you need to contact depends on what’s flooding. <a href="">Report a flood or possible cause of flooding</a>.</p>
			
		</div>

		<div class="column-third">

			<div class="related">
				<aside class="govuk-related-items">
					<h2 class="heading-small">Flooding and extreme weather</h2>
					<ul class="list">
						<li><a href="">Related content</a></li>
						<li class="related-items-more">
							<a href="https://gov.uk/browse/environment-countryside/flooding-extreme-weather">
								More <span class="visuallyhidden">in Flooding and extreme weather</span>
							</a>            
						</li>
					</ul>
				</aside>      
			</div>  
			<p></p>
			<p class="font-xsmall">[Weather forecast, warnings and rainfall levels for the current week]</p>

		</div>
	
	</div>

</main>