$path: "/public/";

.button-download {
    @extend .button;
    background-image: url('#{$path}icon-file-download-2x.png');
    background-repeat:no-repeat;
    background-size:16px;
    background-position: 0.7em center;
    padding-left:2em;
    @include media(tablet) {
        padding-left:1.85em;
    }
}
.button-text {
    @include core-19;
    background:none;
    border:0; 
    padding:0;
    color:$link-colour;
    text-decoration:underline;
    cursor:pointer;
}
.button-text:hover {
    color:$link-hover-colour;
}