<main {{#if model.errors}}class="js-error"{{/if }}>

	<a href="/guidance/flood-risk-assessment-for-planning-applications" class="link-back">Back</a> 
		
	<form action="/flood-risk-assessment/find-location" autocomplete="off" class="form" method="post">
		<div class="grid-row no-bottom">
			<div class="column-two-thirds no-bottom">
				
				{{#if model.errors}}
				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
					<h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>
					<ul class="error-summary-list">
						{{#is model.errors.place.type 'any.empty'}}
						<li><a href="#place">Please provide a place or a postcode</a></li>
						{{/is }}
						{{#is model.errors.place.type 'any.notFound'}}
						<li><a href="#place">We can't find this place or postcode</a></li>
						{{/is }}
						{{#is model.errors.ngr.type 'any.empty'}}
						<li><a href="#national-grid-reference">Please provide a National Grid Reference</a></li>
						{{/is }}
						{{#isOr model.errors.easting model.errors.northing}}
						<li><a href="#easting-northing">Please provide an easting and northing</a></li>
						{{/isOr }}
					</ul>
				</div>
				{{/if }}

				<div class="form-group form-location-planning">
					<fieldset>
						<legend>
							<h1 class="heading-large">Find your development location</h1>
						</legend>

						<div class="multiple-choice" data-target="place-postcode">
							<input id="typePlace" type="radio" name="type" value="place" {{#is model.values.type 'place'}}checked="checked"{{/is}}>
							<label for="typePlace">By place or postcode</label>
						</div>
						<div class="panel panel-border-narrow{{#if model.errors.place}} form-group-error{{/if }}" id="place-postcode">
							<label class="form-label" for="place">
								<span class="visuallyhidden">Place or postcode</span>
								<span class="form-hint">For example, Bakewell or WA4 1AB</span>
								{{#is model.errors.place.type 'any.empty'}}
								<span class="error-message" id="placeAnyEmpty">Please provide a place or postcode</span>
								{{/is }}
								{{#is model.errors.place.type 'any.notFound'}}
								<span class="error-message" id="placeAnyEmpty">We can't find this place or postcode</span>
								{{/is }}
							</label>
							<input class="form-control{{#if model.errors.place}} form-control-error{{/if }}" {{#if model.errors.place}} aria-invalid="true"{{/if }} name="place" id="place" type="text" value="{{ model.values.place }}">
						</div>

						<div class="multiple-choice" data-target="national-grid-reference">
							<input id="typeNgr" type="radio" name="type" value="ngr" {{#is model.values.type 'ngr'}}checked="checked"{{/is}}>
							<label for="typeNgr">By National Grid Reference</label>
						</div>
						<div class="panel panel-border-narrow{{#if model.errors.ngr}} form-group-error{{/if }}" id="national-grid-reference">
							<label class="form-label" for="ngr">
								<span class="visuallyhidden">National Grid Reference</span>
								<span class="form-hint">For example, NY395557 (6, 8 or 12 digits)</span>
								{{#is model.errors.ngr.type 'any.empty'}}
								<span class="error-message">Please provide a National Grid Reference</span>
								{{/is }}
							</label>
							<input class="form-control{{#if model.errors.ngr}} form-control-error{{/if }}" {{#if model.errors.ngr}} aria-invalid="true"{{/if }} name="ngr" type="text" id="ngr" value="{{ model.values.ngr }}">
						</div>

						<div class="multiple-choice" data-target="easting-northing">
							<input id="typeEn" type="radio" name="type" value="en" {{#is model.values.type 'en'}}checked="checked"{{/is}}>
							<label for="typeEn">By easting and northing</label>
						</div>
						<div class="panel panel-border-narrow{{#isOr model.errors.easting model.errors.northing}} form-group-error{{/isOr }}" id="easting-northing">
							<div class="form-group-easting-northing">
								<fieldset>
									<legend>
										<span class="visuallyhidden">Easting and northing</span>
										<span class="form-hint">For example, 123456 123456</span>
										{{#isOr model.errors.easting errors.northing}}
										<span class="error-message">Please provide an easting and northing</span>
										{{/isOr }}
									</legend>
									<div class="form-group form-group-easting">
										<div class="form-group-container">
											<label class="form-label" for="easting">
												<span class="font-small">Easting</span>
											</label>
											<input class="form-control{{#if model.errors.easting}} form-control-error{{/if }}" {{#if model.errors.easting}}aria-invalid="true"{{/if }} id="easting" name="easting" type="number" value="{{ model.values.easting }}">
										</div>
									</div>
									<div class="form-group form-group-northing">
										<div class="form-group-container">
											<label class="form-label" for="northing">
												<span class="font-small">Northing</span>
											</label>
											<input class="form-control{{#if model.errors.northing}} form-control-error{{/if }}" {{#if model.errors.northing}} aria-invalid="true"{{/if }} id="northing" name="northing" type="number" value="{{ model.values.northing }}">
										</div>
									</div>
								</fieldset>
							</div>
						</div>

					</fieldset>
				
				</div>

				<input class="button" type="submit" value="Continue">

			</div>
		</div>
	</form>
		
</main>

{{#section 'bodyScripts'}}

<!-- Add before closing body tag -->
<!-- below uses GDS style guide javascript adapted to use html5 hidden instead of aria-hidden -->
<script src="/public/javascripts/show-hide-content.js"></script>
<script>
$(document).ready(function () {

	// Turn off jQuery animation
	jQuery.fx.off = true
	// Where .multiple-choice uses the data-target attribute
	// to toggle hidden content
	var showHideContent = new GOVUK.ShowHideContent()
	showHideContent.init()

	// If there is an error, set focus to the summary
	$('.js-error .error-summary:visible').first().focus()

})
</script>
<!-- end before closing body tag -->

{{/section}}
