<main {{#if model.isError}}class="js-error"{{/if }} class="flood-zones">

	<div class="grid-row no-bottom">
		<div class="column-full no-bottom">

			<nav class="nav-back" style="display:none" hidden>
				<a href="/flood-risk-assessment/find-location" class="link-back">Back</a> 
			</nav>

			{{#if model.isError}}
			<div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
				<h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>
				<ul class="error-summary-list">
					<li><a href="#boundary">Shape has not been drawn</a></li>
				</ul>
			</div>
			{{/if }}
				
			<form action="" autocomplete="off" class="form" method="post">

				<fieldset>

					<legend>
						<h1 class="heading-large">Flood zones</h1>
					</legend>
				
					<p>You can place a marker on the map or draw a shape to get a flood zone report.</p>

					<details style="margin-bottom:1.5em">
						<summary>
							<span class="summary">How to draw a shape</span>
						</summary>
						<div class="panel panel-border-narrow">
							<ol class="list list-number">
								<li>Select ‘Shape’</li>
								<li>Select any point on your site’s boundary</li>
								<li>Select a second point on the boundary. You should see a line drawn between the first 2 points</li>
								<li>Keep adding points until the boundary is defined</li>
								<li>Double click or tap when you return to your first point</li>
							</ol>
						</div>
					</details>
			
					<div class="form-group{{#if model.isError}} form-group-map-error{{/if }} form-group-map">
						{{#if model.isError}}
						<span class="error-message">Shape has not been drawn</span>
						{{/if }}
						<figure class="map map-has-key" id="map">
							<div class="map-container map-container-planning"></div>
							<figcaption class="visuallyhidden">Site boundary</figcaption>
						</figure>
					</div>

					<!--
					<div class="form-group">
						<label class="form-label" for="link">
							Bookmark or share the boundary
						</label>
						<input class="form-control form-control-readonly" name="link" id="link" value="https://flood-risk-planning.service.gov.uk/site=?lonLat=-1.9837,53.7309&amp;zoom=X&amp;boundary=[1,1,1,2,3,4]" readonly></input>
					</div>
					-->

					<div class="form-group">
						<button type="submit" class="button-download" onlclick="return false">Download printable map (PDF)</button>
					</div>
					
					<div class="form-group">
						<input id="scenario" name="scenario" type="hidden" value=""/>
						<input id="lonLat" name="lonLat" type="hidden" value="{{ model.lonLat }}"/>
						<input id="zoom" name="zoom" type="hidden" value="{{ model.zoom }}"/>
						<input id="path" name="path" type="hidden" value="{{ model.path }}"/>
						<input id="point" name="point" type="hidden" value=""/>
						<button type="submit" class="button-text" >Get a flood zone report</button>
					</div>

				</fieldset>

			</form>

			<p>Find out about <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications">flood risk assessments for planning applications</a>.</p>

		</div>
	</div>

</main>

{{#section 'bodyScripts' }}
<!-- Add before closing body tag -->
<script src="/public/javascripts/ol-v4.5.0.js"></script>
<script>

	// Set centre variable for map control
	var centre = {{{ json model.lonLat }}}

	$(document).ready(function () {

		// Turn off jQuery animation
		jQuery.fx.off = true
	
		// If there is an error, set focus to the summary
		$('.js-error .error-summary:visible').first().focus()
	
	})
</script>
<script src="/public/javascripts/json-url/json-url.js"></script>
<script src="/public/javascripts/map-planning.js"></script>
<!-- end before closing body tag -->
{{/section }}