<main>

	<div class="grid-row">
		<div class="column-full">
			<a href="/flood-risk-assessment/find-location" class="link-back">Back</a> 
				
			<h1 class="heading-large">Identify the site boundary</h1>

			<p class="bold-small">Map centered on &apos;Mytholmroyd&apos;. <a href="/flood-risk-assessment/find-location">Change</a></p>
				
			<figure class="map map-planning" id="map">
				<div class="map-container-large"></div>
				<figcaption class="visuallyhidden">Site boundary</figcaption>
			</figure>

			<div class="form-group">
				<input id="scenario" name="scenario" type="hidden" value=""/>
				<input class="button" type="submit" value="Get report">
			</div>

			<details>
				<summary><span class="summary">Bookmark and share this site boundary</span></summary>
				<div class="panel panel-border-narrow">
					<div class="form-group">
						<textarea style="width:100%" readonly>https://flood-risk-planning.service.gov.uk/site=?lonLat=-1.9837,53.7309&amp;zoom=X&amp;boundary=[1,1,1,2,3,4]</textarea>
					</div>
				</div>
			</details>

		</div>
	</div>

</main>

{{#section 'bodyScripts' }}

<!-- This content to go at end of body -->
<script src="https://openlayers.org/en/v4.5.0/build/ol.js"></script>
<script>
	var centre = {{{ json model.lonLat }}}
</script>
<script src="/public/javascripts/map-planning.js"></script>

{{/section }}