<main>

	<!--
	<div class="breadcrumbs">
		<ol>
			<li><a href="https://www.gov.uk/check-flood-risk">Back</a></li>
		</ol>
	</div>
	-->

	<a href="/guidance/flood-risk-assessment-for-planning-applications" class="link-back">Back</a> 
		
	<form action="/find-location" autocomplete="off" class="form" method="post" novalidate="novalidate">
		<div class="grid-row no-bottom">
			<div class="column-two-thirds no-bottom">
				
				<div class="error-summary visuallyhidden"><!-- Error: remove class="visuallyhidden" and tabindex="-1" -->
					<h1 class="heading-medium error-summary-heading">There was a problem</h1>
					<p>Please amend the following details:</p>
					<ul class="error-summary-list">
						<li><a href="#postcode-town" tabindex="-1">Check your postcode or town</a></li><!-- Error: remove aria-hidden="true" -->
						<li><a href="#ngr" aria-hidden="true" tabindex="-1">Check your NGR</a></li>
						<li><a href="#easting" aria-hidden="true" tabindex="-1">Check your easting</a></li>
						<li><a href="#northing" aria-hidden="true" tabindex="-1">Check your northing</a></li>
					</ul>
				</div>

				<form>
					<div class="form-group form-location-planning">
						<fieldset>
							<legend>
								<h1 class="heading-large">Find your development location</h1>
							</legend>

							<div class="multiple-choice" data-target="postcode-town">
								<input id="find-by-postcode-town" type="radio" name="radio-find-location-group" value="Yes" checked="checked">
								<label for="find-by-postcode-town">By postcode or town</label>
							</div>
							<div class="panel panel-border-narrow form-group-error" id="postcode-town"><!-- Error: add class 'form-group-error' with javascript or postback -->
								<label class="form-label" for="site-postcode">
									<span class="bold-small">Postcode or town</span>
									<span class="form-hint">For example SW1A 2AA or Bakewell</span>
									<span class="error-message">Postcode is right out</span><!-- Error: inline style="display:none" and hidden attribute removed with javascript or postback -->
								</label>
								<input class="form-control form-control-error" name="site-postcode" id="site-postcode" type="text" value="SD345T"><!-- Error: add class 'form-control-error' with javascript or postback -->
							</div>

							<div class="multiple-choice" data-target="ngr">
								<input id="find-site-by-ngr" type="radio" name="radio-find-location-group" value="No">
								<label for="find-site-by-ngr">By National Grid Reference (NGR)</label>
							</div>
							<div class="panel panel-border-narrow" id="ngr"><!-- Default: add class js-hidden and hidden attribute with javascript or postback -->
								<label class="form-label" for="site-ngr">
									<span class="bold-small">NGR</span>
									<span class="form-hint">For example NY395557 (6, 8 or 12 digits)</span>
									<span class="error-message" style="display:none" hidden>NGR is right out</span>
								</label>
								<input class="form-control" name="site-ngr" type="text" id="find-site-by-ngr">
							</div>

							<div class="multiple-choice" data-target="easting-northing">
								<input id="find-site-by-easting-northing" type="radio" name="radio-find-location-group" value="No">
								<label for="find-site-by-easting-northing">By easting and northing</label>
							</div>
							<div class="panel panel-border-narrow" id="easting-northing">
								<div class="form-group-en">
									<div class="form-group form-group-easting">
										<div class="form-group-container">
											<label class="form-label" for="location-easting">
												<span class="bold-small">Easting</span>
												<span class="error-message" style="display:none" hidden>Easting is right out</span>
											</label>
											<input class="form-control" id="location-easting" name="location-easting" type="number">
										</div>
									</div>
									<div class="form-group form-group-northing">
										<div class="form-group-container">
											<label class="form-label" for="location-northing">
												<span class="bold-small">Northing</span>
												<span class="error-message" style="display:none" hidden>Northing is right out</span>
											</label>
											<input class="form-control" id="location-northing" name="location-northing" type="number">
										</div>
									</div>
								</div>
							</div>

						</fieldset>
					
					</div>

					<input class="button" type="submit" value="Continue" onclick="window.location.href = '/flood-risk-assessment/identify-boundary';return false">
					
				</form>

			</div>
		</div>
	</form>
		
</main>

{{#section 'bodyScripts'}}

<!-- Add before closing body tag -->
<!-- below uses GDS style guide javascript adapted to use html5 hidden instead of aria-hidden -->
<script src="/public/javascripts/show-hide-content.js"></script>
<script>
$(document).ready(function () {
	// Turn off jQuery animation
	jQuery.fx.off = true
	// Where .multiple-choice uses the data-target attribute
	// to toggle hidden content
	var showHideContent = new GOVUK.ShowHideContent()
	showHideContent.init()
})
</script>
<!-- end before closing body tag -->

{{/section}}
