<main>

	<!--
	<div class="breadcrumbs">
		<ol>
			<li><a href="https://www.gov.uk/check-flood-risk">Back</a></li>
		</ol>
	</div>
	-->

	<a href="/check-flood-zone" class="link-back">Back</a> 
		
	<form action="/find-location" autocomplete="off" class="form" method="post" novalidate="novalidate">
		<div class="grid-row no-bottom">
			<div class="column-two-thirds no-bottom">
				
				<div class="error-summary" data-valmsg-summary="true" style="display:none;">
					<h1 class="heading-medium error-summary-heading">There was a problem</h1>
					<p>Please amend the following details:</p>
					<ul class="error-summary-list"></ul>
				</div>

				<form>
					<div class="form-group">
						<fieldset>
							<legend>
								<h1 class="heading-large">Where is your development site?</h1>
								<p>Find your site by:</p>
							</legend>

							<div class="multiple-choice">
								<input id="find-site-by-location" type="radio" name="radio-find-site-group" value="Yes" checked="checked">
								<label for="find-site-by-location">Location</label>
							</div>
							<div class="panel panel-border-narrow" style="padding-bottom:1em">
								<label class="form-label" for="site-postcode">
									Postcode or town
									<span class="form-hint">For example SW1A 2AA or Bakewell</span>
								</label>
								<input class="form-control" name="site-postcode" id="site-postcode" type="text">
							</div>

							<div class="multiple-choice">
								<input id="find-site-by-ngr" type="radio" name="radio-find-site-group" value="No">
								<label for="find-site-by-ngr">National Grid Reference (NGR)</label>
							</div>
							<div class="panel panel-border-narrow" style="padding-bottom:1em">
								<label class="form-label" for="site-ngr">
									NGR
									<span class="form-hint">For example SW1A 2AA or Bakewell</span>
								</label>
								<input class="form-control" name="site-ngr" type="text" id="find-site-by-ngr">
							</div>

							<div class="multiple-choice">
								<input id="find-site-by-easting-northing" type="radio" name="radio-find-site-group" value="No">
								<label for="find-site-by-easting-northing">Easting and northing</label>
							</div>
							<div class="panel panel-border-narrow" style="padding-bottom:1em">
								<div class="form-easting-northing" style="overflow:auto">
									<div class="form-group form-group-easting" style="float:left;width:50%;margin-bottom:0">
										<label class="form-label" for="site-easting">Easting</label>
										<input class="form-control" id="site-easting" name="site-easting" type="number">
									</div>
									<div class="form-group form-group-northing" style="float:left;width:50%;margin-bottom:0">
										<label class="form-label" for="site-northing">Northing</label>
										<input class="form-control" id="site-northing" name="site-northing" type="number">
									</div>
								</div>
							</div>

						</fieldset>
					
					</div>

					<input class="button" type="submit" value="Continue">
					
				</form>

				<!--
				<div class="form-group no-bottom">
					<fieldset>
						<legend class="visuallyhidden">Enter a postcode or town</legend>
						<div class="form-group">
							<label for="location">
								<span class="form-label">Postcode or town</span>
								<span class="form-hint">For example SW1A 2AA or Bakewell</span>
							</label>
							<input id="location" name="location" class="form-control" type="text" value="">
							<input id="scenario" name="scenario" type="hidden" value="{{ model.scenario }}"/>
						</div>
						<button class="button" type="submit">Check risk</button>
					</fieldset>
					</div>
				</div>
				-->

			</div>
		</div>
	</form>
		
</main>