<main>

	<!--
	<div class="breadcrumbs">
		<ol>
			<li><a href="https://www.gov.uk/check-flood-risk">Back</a></li>
		</ol>
	</div>
	-->

	<a href="/check-flood-zone" class="link-back">Back</a> 
		
	<form action="/find-location" autocomplete="off" class="form" method="post" novalidate="novalidate">
		<div class="grid-row no-bottom">
			<div class="column-two-thirds no-bottom">
				
				<div class="error-summary" data-valmsg-summary="true" style="display:none;">
					<h1 class="heading-medium error-summary-heading">There was a problem</h1>
					<p>Please amend the following details:</p>
					<ul class="error-summary-list"></ul>
				</div>

				<div class="form-group">
					<fieldset>
						<legend>
							<h1 class="heading-large">Find your development site location</h1>
						</legend>
						<div class="multiple-choice">
							<input id="radio-home-address" type="radio" name="radio-indent-group" value="Yes">
							<label for="radio-home-address">Home address</label>
						</div>
						<div class="multiple-choice" data-target="example-other-address">
							<input id="radio-other-address" type="radio" name="radio-indent-group" value="No" aria-controls="example-other-address" aria-expanded="true">
							<label for="radio-other-address">Other address</label>
						</div>
						<div class="panel panel-border-narrow" id="example-other-address" aria-hidden="false">
					<fieldset>
					<legend>
						<h2 class="heading-medium">Your other address</h2>
					</legend>
					<div class="form-group form-group-compound">
						<label class="form-label" for="address-line-1">Street</label>
						<input type="text" class="form-control" id="address-line-1">
					</div>
					<div class="form-group">
					<label class="form-label visually-hidden" for="address-line-2">Street</label>
					<input type="text" class="form-control" id="address-line-2">
					</div>
					<div class="form-group">
					<label class="form-label" for="address-town">Town or City</label>
					<input type="text" class="form-control form-control-1-4" id="address-town">
					</div>
					<div class="form-group">
					<label class="form-label" for="address-postcode">Postcode</label>
					<input type="text" class="form-control form-control-1-8" id="address-postcode">
					</div>
					</fieldset>
					</div>
					</fieldset>
				</div>

				<!--
				<div class="form-group no-bottom">
					<fieldset>
						<legend class="visuallyhidden">Enter a postcode or town</legend>
						<div class="form-group">
							<label for="location">
								<span class="form-label">Postcode or town</span>
								<span class="form-hint">For example SW1A 2AA or Bakewell</span>
							</label>
							<input id="location" name="location" class="form-control" type="text" value="">
							<input id="scenario" name="scenario" type="hidden" value="{{ model.scenario }}"/>
						</div>
						<button class="button" type="submit">Check risk</button>
					</fieldset>
					</div>
				</div>
				-->

			</div>
		</div>
	</form>
		
</main>