<main {{#if model.isError}}class="js-error"{{/if }}>

	<a href="/flood-risk-assessment/identify-site?lonLat={{ model.lonLat }}&zoom={{ model.zoom }}" class="link-back">Back</a> 

    <div class="grid-row">

        <div class="column-two-thirds">
            <h1 class="heading-large">Flood zone report</h1>
		</div>
		
	</div>

	<div class="grid-row">

		<div class="column-two-thirds">
			<div class="panel panel-border-wide">
				<p>
					The point at EN 123456,123456 is in Flood Zone 1 and within 10m of flood zone 2.
				</p>
			</div>
			<div class="panel panel-border-wide">
				<p>
					The area denotated by the red line encompases Flood Zone 3.
				</p>
			</div>
		</div>

		<div class="column-one-third">
			<figure class="map" id="map">
				<div class="map-container"></div>
				<figcaption>Map showing [point|area] with flood zones</figcaption>
			</figure>
		</div>

	</div>
		
</main>

{{#section 'bodyScripts'}}

<!-- Add before closing body tag -->
<!-- below uses GDS style guide javascript adapted to use html5 hidden instead of aria-hidden -->
<script src="/public/javascripts/show-hide-content.js"></script>
<script>
$(document).ready(function () {

	// Turn off jQuery animation
	jQuery.fx.off = true
	// Where .multiple-choice uses the data-target attribute
	// to toggle hidden content
	var showHideContent = new GOVUK.ShowHideContent()
	showHideContent.init()

	// If there is an error, set focus to the summary
	$('.js-error .error-summary:visible').first().focus()

})
</script>
<!-- end before closing body tag -->

{{/section}}
