<main {{#if model.isError}}class="js-error"{{/if }}>

	<a href="/flood-risk-assessment/identify-site?lonLat={{ model.lonLat }}&zoom={{ model.zoom }}" class="link-back">Back</a> 

    <div class="grid-row">

        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
				Flood zone report
				<span class="heading-secondary">Location (easting/northing) 123456/123456</span>
			</h1>
			<span class="flood-zone-location-edit">
				<a class="font-small" href="">Change location</a>
			</span>
		</div>
		
	</div>

	<div class="grid-row">

		<div class="column-two-thirds">
			<p class="bold-medium">This location is in flood zone 2, an area with a medium probability of flooding.</p>
			<h2 class="heading-medium">This means:</h2>
			<ul class="list list-bullet">
				<li>you must complete a flood risk assessment for development in this area</li>
				<li>you should follow the Environment Agency's <a href="https://www.gov.uk/guidance/flood-risk-assessment-standing-advice">standing advice</a> for carrying out a flood risk assessment</li>
			</ul>
			<form action="" style="margin-bottom:2em">
				<span class="form-group">
					<button type="submit" class="button-download">Download report (PDF)</button>
				</span>
			</form>	
			<p>Find out about <a href="https://www.gov.uk/guidance/flood-risk-assessment-for-planning-applications">flood risk assessments for planning applications</a>.</p>
			<h2 class="heading-small body-text">Notes</h2>
			<p>The flood map for planning shows river and sea flooding data only. It doesn’t include other sources of flooding. It is for use in development planning and flood risk assessments.</p>
			<p>This information relates to the selected location and is not specific to any property within it.</p>
		</div>

		<div class="column-one-third">
			<figure class="map" id="map">
				<div class="map-container"></div>
				<figcaption>Map showing location with flood zones</figcaption>
			</figure>
		</div>

	</div>
		
</main>

{{#section 'bodyScripts'}}

<!-- Add before closing body tag -->
<!-- below uses GDS style guide javascript adapted to use html5 hidden instead of aria-hidden -->
<script src="/public/javascripts/show-hide-content.js"></script>
<script>
$(document).ready(function () {

	// Turn off jQuery animation
	jQuery.fx.off = true
	// Where .multiple-choice uses the data-target attribute
	// to toggle hidden content
	var showHideContent = new GOVUK.ShowHideContent()
	showHideContent.init()

	// If there is an error, set focus to the summary
	$('.js-error .error-summary:visible').first().focus()

})
</script>
<!-- end before closing body tag -->

{{/section}}
