<section class="breadcrumbs">
  <ol>
    <li><a href="/">Flooding</a></li>
  </ol>
</section>
<div class="grid-row">
  <div class="column-two-thirds">
    <main>
      <h1 class="heading-xlarge">Flood risk for:<br><span class="heading-large">{{{location}}}</span></h1>
      <p class="lede">
        Check your risk of flooding: get current flood warnings, river and sea levels, check the 5-day forecast or use flood risk maps
      </p>
      {{> common/flood-help}}    
      {{> common/floodline-warnings}}
      <!--<h2 class="heading-medium" tabindex="0">
        {{> 'common/regional-title'}}
      </h2>
      {{> 'common/regional-links'}}-->
    </main>    
  </div>  
  <div class="column-third">
    <div class="related">
      <aside class="govuk-related-items">
        <h2>
          Options
        </h2>
            <nav role="navigation">
              <ul>
                <li>
                  <a href="/live-warnings">Live flood warnings</a>
                </li>
                <li>
                  <a href="/live-warnings">River level information</a>
                </li>
                <li>
                  <a href="/live-warnings">5 day flood forecast</a>
                </li>
                <li>
                  <a href="/live-warnings">Long term flood risk</a>
                </li>
                <li>
                  <a href="/live-warnings">Planning a build?</a>
                </li>
                <li class="related-items-more">
                  <a href="#">
                    More
                      <span class="visuallyhidden">
                        in Flood information services
                      </span>
                  </a>            
                </li>
              </ul>
            </nav>
        <h2>
          Other ways to get flood warning information
        </h2>
        <nav role="navigation">
          <ul>
            <li>
              <a href="http://www.nidirect.gov.uk/" rel="external">Northern Ireland Direct</a>
            </li>
            <li>
              <a href="http://www.sepa.org.uk/" rel="external">Scottish Environment Protection Agency</a>
            </li>
            <li>
              <a href="https://naturalresources.wales/flooding?lang=en" rel="external">Natural Resources Wales</a>
            </li>
          </ul>
        </nav>
        </aside>      
    </div>    
  </div>
</div>

