<!--
<div class="breadcrumbs">
	<ol>
		<li><a href="/">Flooding</a></li>
		<li><a href="/">Environment and countryside</a></li>
		<li><a href="/">Flooding and extreme weather</a></li>
		<li><a href="/">Current flood risk</a></li>
	</ol>
</div>
-->

<main>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge" style="margin-bottom:0.25em">
				Add or remove areas
				<span class="heading-secondary">Mytholmroyd</span>
			</h1>

			<a href="" style="display:inline-block;margin-top:1em;margin-bottom:1em">Change location</a>

			<table>
				<caption class="heading-small">Warning areas</caption>
				<tbody>
					<tr>
						<td>River Calder at Central Mytholmroyd</td>
						<td><a href="/">Map</a></td>
						<td class="last"><a href="/">Remove</a></td>
					</tr>
					<tr>
						<td>River Calder and Hebden Water at Hebden Bridge</td>
						<td><a href="/">Map</a></td>
						<td class="last"><a href="/">Remove</a></td>
					</tr>
					<tr>
						<td>Hebden Water at Hebden Bridge - Old Gate</td>
						<td><a href="/">Map</a></td>
						<td class="last"><a href="/">Remove</a></td>
					</tr>
				</tbody>
			</table>

			<input class="button" type="submit" value="Save and continue" style="margin-top:2em">

		</div>

	</div>

</main>
