<!--
<div class="breadcrumbs">
	<ol>
		<li><a href="/">Flooding</a></li>
		<li><a href="/">Environment and countryside</a></li>
		<li><a href="/">Flooding and extreme weather</a></li>
		<li><a href="/">Current flood risk</a></li>
	</ol>
</div>
-->

<main id="content">

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge" style="margin-bottom:0.25em">
				<span class="heading-secondary">Current flood risk</span>
				Mytholmroyd
			</h1>
			<a href="">Change location</a>

			<div class="panel panel-warnings">
				<p>
					<strong class="bold-medium">Alert in force - River Calder at Central Mytholmroyd</strong><br/>
					Flooding is possible – be prepared
				</p>
				<p>The time and date of the forecast high water is 7:30 am on 24/06/2017. The forecast tide level is 6.14 m AOD. The forecast wind strength is Force 3 from the direction of west south west. Please note all tide times are in local time and refer to the high water time at Hinkley Point. The conditions only just reach our flood alert threshold for Saturday morning. However peak tides are currently rising and we will re-issue this flood alert, which is likely to remain in force for the weekend.</p>
			</div>

			<!--
			<div class="panel panel-warnings">
				<p>
					<strong class="bold-medium">Warnings in force</strong><br/>
					Flooding is expected – immediate action required
				</p>
				<ul class="list list-bullet">
					<li><a href="">River Calder at Central Mytholmroyd</a></li>
					<li><a href="">River Calder and Hebden Water at Hebden Bridge</a></li>
				</ul>

				<p>
					<strong class="bold-medium">Alerts in force</strong><br/>
					Flooding is possible – be prepared
				</p>
				<ul class="list list-bullet">
					<li><a href="">Hebden Water at Hebden Bridge - Old Gate</a></li>
				</ul>
			</div>
			-->

			<p><a href="">View map showing possible affected areas</a></p>

			<h2 class="heading-medium">Things you should do now</h2>
			<p><a href="https://gov.uk/prepare-for-flooding">Prepare for a flood</a>.</p>
			<p>River levels in this area forecast possible flooding in the next 36 hours.<br/><a href="">Monitor levels of the River Calder and Hebdon Water</a>.</p>
			<p>There is an <a href="">amber warning for rain</a> in the north of England for 23-24 June.<br/><a href="">Check the local weather forecast</a>.</p>
			<p>Get uptodate warnings for this area by phone, text or email.<br/><a href="">Sign up for flood warnings</a></p>

			<details style="margin-top:2em" role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Other ways to get flood warning information</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
					<p>
						<strong class="bold-small">Floodline</strong><br/>
						Telephone: 0345 988 1188<br/>
						24-hour service
					</p>
					<p>
						<a href="">Learn more about call charges</a>
					</p>
                </div>
            </details>

		</div>

		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2>Flooding and extreme weather</h2>
					<nav role="navigation">
						<ul>
							<li>
								<a href="">Item</a>
							</li>
						</ul>
					</nav>
				</aside>      
			</div>    
		</div>

	</div>

</main>
