<!--
<div class="breadcrumbs">
	<ol>
		<li><a href="/">Flooding</a></li>
		<li><a href="/">Environment and countryside</a></li>
		<li><a href="/">Flooding and extreme weather</a></li>
		<li><a href="/">Current flood risk</a></li>
	</ol>
</div>
-->

<main>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				Add your contact details
				{{#if isSingle}}
				<span class="heading-secondary">Central Mytholmroyd (River Calder)</span>
				{{/if}}
			</h1>

			<p>How would you prefer to recive warnings?</p>

			<input class="button" type="submit" value="Save and continue" style="margin-top:2em">

		</div>

	</div>

</main>
