<!--
<div class="breadcrumbs">
	<ol>
		<li><a href="/">Flooding</a></li>
		<li><a href="/">Environment and countryside</a></li>
		<li><a href="/">Flooding and extreme weather</a></li>
		<li><a href="/">Current flood risk</a></li>
	</ol>
</div>
-->

<main>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				Select warning areas
				<span class="heading-secondary">Mytholmroyd</span>
			</h1>

			<table class="select-areas">
				<caption class="heading-small" style="margin-top:0">Warning areas</caption>
				<tbody>
					<tr>
						<td>
							<span class="icon icon-tick" role="presentation"></span>
							Central Mytholmroyd (River Calder)
						</td>
						<td><a href="/">Map</a></td>
						<td class="last"><a href="/">Remove</a></td>
					</tr>
					<tr>
						<td>
							<span class="icon icon-tick" role="presentation"></span>
							Hebden Bridge (River Calder and Hebden Water)
						</td>
						<td><a href="/">Map</a></td>
						<td class="last"><a href="/">Remove</a></td>
					</tr>
					<tr>
						<td>
							<span class="icon icon-tick" role="presentation"></span>
							Hebden Bridge - Old Gate (Hebden Water)
						</td>
						<td><a href="/">Map</a></td>
						<td class="last"><a href="/">Remove</a></td>
					</tr>
				</tbody>
			</table>

			<p>
				<input class="button" type="submit" value="Save and continue" style="margin-top:2em" onclick="window.location.href='/get-flood-warnings/add-your-contact-details'">
			</p>
			<p>
				<a href="">Change location</a>
			</p>

		</div>

	</div>

</main>
