{{#section 'head'}}
<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-b2cb5fc5ee4ae94eff36f5a5b19ed7e23926523e1e4737c8baedfcd2eea6da5d.css" />
{{/section}}

{{#section 'header'}}
<div class="header-wrapper">
	<div class="header-global">
	<div class="header-logo">
		<a href="{{{ homepageUrl }}}" title="{{ logoLinkTitle }}" id="logo" class="content">
		<img src="{{{ assetPath }}}images/gov.uk_logotype_crown_invert_trans.png?0.22.2" width="36" height="32" alt=""> {{{ globalHeaderText }}}
		</a>
	</div>
	{{> insideHeader }}
	</div>
	{{> propositionHeader }}
</div>
{{/section}}

<main>

	<div class="breadcrumbs">
		<ol>
			<li><a href="/">Home</a></li>
		</ol>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="pub-c-title pub-c-title--bottom-margin">
				<p class="pub-c-title__context">Guidance</p>
				<h1 class="pub-c-title__text pub-c-title__text--long">
					Flood risk assessment for planning applications
				</h1>
			</div>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="govuk-metadata direction-ltr" data-module="toggle">
				<dl data-module="track-click">
					<dt>From:</dt>
					<dd><a href="">Department for Environment, Food &amp; Rural Affairs</a> and <a href="">Environment Agency</a></dd>
					<dt>Published:</dt>
					<dd>26 March 2014</dd>
					<dt>Last updated:</dt>
					<dd>27 February 2017, <a href="" data-track-category="content-history" data-track-action="see-all-updates-link-clicked" data-track-label="history">see all updates</a></dd>
					<dt>Applies to:</dt>
					<dd>England</dd>
				</dl>
			</div>
		</div>
	</div>

	<p class="pub-c-lead-paragraph">Find out when you need to do a flood risk assessment as part of your planning application, how to complete one and how it's&nbsp;processed.</p>

</main>
