<main>
	
		<div class="breadcrumbs">
			<ol>
				<li><a href="https://www.gov.uk/">Home</a></li>
				<li><a href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a></li>
				<li><a href="/flooding-extreme-weather">Flooding and extreme weather</a></li>
			</ol>
		</div>
	
		<div class="grid-row">
	
			<div class="column-two-thirds">
	
				<h1 class="heading-xlarge" style="margin-bottom:0.95em">Check a property's flood risk (England)</h1>
				
				<p>Use this service to:</p>
				<ul class="list list-bullet">
					<li>find out how likely it is that a property could flood in the future</li>
					<li>find out what factors could cause or contribute to any potential flooding</li>
					<li>get advise on managing your long term flood risk</li>
				</ul>
	
				<div class="panel panel-border-narrow" style="margin-bottom:2em;margin-top:2em">
					<p>Check the risk of flooding if you’re in <a rel="external" href="https://www.sepa.org.uk/environment/water/flooding/flood-maps/">Scotland</a>, <a rel="external" href="https://naturalresources.wales/evidence-and-data/maps/long-term-flood-risk">Wales</a> or <a rel="external" href="http://riversagency.maps.arcgis.com/apps/webappviewer/index.html">Northern Ireland</a>.</p>
				</div>
		
				<p><a class="button button-start" href="/find-address" role="button">Start now</a></p>
	
				<!--
				<p>It can take upto 20 working days to recieve a record of historic flooding.</p>
				<p>The report is free unless it takes more than 18 hours to put together. If it takes longer, the Environment Agency may decide not to do it. If they do it, they charge £25 per hour, including for the first 18 hours.</p>
				-->

				<h2 class="heading-medium">Before you start</h2>
				<p>If you do not know the house name or number and postcode or need to check flood risk for a wider area you can view <a href="">flood risk maps</a>.</p>
				<p>Other ways to check a property's flood risk</p>
				<p>
					<strong class="bold-small">Environment Agency (National Customer Care Centre)</strong><br/>
					Telephone: 03708 506 506<br/>
					Mon to Fri, 8am to 6pm<br/>
					<a href="" rel="nofollow">Learn more about call charges</a>
				</p>

				<!--
				<details style="margin-top:2em" role="group">
					<summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Other ways to get flood warning information</span></summary>
					<div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
						<p>
							<strong class="bold-small">Floodline</strong><br/>
							Telephone: 0345 988 1188<br/>
							24-hour service
						</p>
						<p>
							<a href="">Learn more about call charges</a>
						</p>
					</div>
				</details>
				-->
	
			</div> 
			
			<div class="column-third">
				<div class="related">
					<aside class="govuk-related-items">
						<h2>Flooding and extreme weather</h2>
						<nav role="navigation">
							<ul>
								<li><a href="/check-flood-history">Check a property's flood history</a></li>
								<li><a href="/find-flood-risk-for-planning">Find out if you need to do a flood risk assessment for planning</a></li>
								<li><a href="/check-flood-risk">Find out if there is a risk of flooding</a></li>
								<li class="related-items-more">
									<a href="#">More
										<span class="visuallyhidden">in Flood information services</span>
									</a>            
								</li>
							</ul>
						</nav>
					</aside>       
				</div>
			</div>
		</div>
	
	</main>
	