<main>

	<div class="breadcrumbs">
		<ol>
			<li><a href="https://www.gov.uk/">Home</a></li>
			<li><a href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a></li>
			<li><a href="/flooding-extreme-weather">Flooding and extreme weather</a></li>
		</ol>
	</div>
	
	<div class="grid-row no-bottom">

		<div class="column-two-thirds no-bottom">
			
			<h1 class="heading-xlarge">Check if you need permission to do work on a river, flood defence or sea defence</h1>

		</div>

		<div class="column-third">

			<div class="related">
				<aside class="govuk-related-items">
					<h2>Flooding and extreme weather</h2>
					<nav role="navigation">
						<ul>
							<li><a href="/check-flood-risk">Find out if there is a risk of flooding now</a></li>
							<li class="related-items-more">
								<a href="#">More
									<span class="visuallyhidden">in Flood information services</span>
								</a>            
							</li>
						</ul>
					</nav>
				</aside>       
			</div>
			
		</div>

	</div>

</main>