<main>

	<div class="breadcrumbs">
		<ol>
			<li><a href="https://www.gov.uk/">Flooding</a></li>
			<li><a href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a></li>
			<li><a href="https://www.gov.uk/browse/environment-countryside/flooding-extreme-weather">Flooding and extreme weather</a></li>
		</ol>
	</div>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge" style="margin-bottom:0.95em">Find out if you need to do a flood risk assessment for planning (England)</h1>
			
			<p>Use this service to:</p>
			<ul class="list list-bullet">
				<li>find out when you need to do a flood risk assessment as part of your planning application</li>
				<li>learn about a site location's flood probability as part of development planning</li>
			</ul>

			<div class="panel panel-border-narrow" style="margin-bottom:2em;margin-top:2em">
				<p>Find flood risk probability if you’re in <a rel="external" href="http://www.sepa.org.uk/environment/water/flooding">Scotland</a>, <a rel="external" href="https://naturalresources.wales/flooding/?lang=en">Wales</a> or <a rel="external" href="http://www.planningni.gov.uk/index/advice/northern_ireland_environment_agency_guidance.htm">Northern Ireland</a>.</p>
			</div>
	
			<p><a class="button button-start" href="/find-site?s={{ model.scenario }}" role="button">Start now</a></p>

			<h2 class="heading-medium">Before you start</h2>
			<p>This service requires interacting with a digital map.</p>
			
			<h2 class="heading-medium">Buying a house or buying home insurance?</h2>
			<p>For a properties long term flood risk assessment including records of historic flooding <a href="/long-term">check your long term flood risk</a>.</p>

			<h2 class="heading-medium">Help</h2>
			<p>Other ways to find out if you need to do a flood risk assessment</p>
			<p>
				<strong class="bold-small">Environment Agency</strong><br/>
				<a href="mailto:enquiries@environment-agency.gov.uk">enquiries@environment-agency.gov.uk</a></br>
				Telephone: 03708 506 506<br/>
				Monday to Friday, 8am to 6pm
			</p>
			<p>
				<a href="">Learn more about call charges</a>
			</p>

		</div> 
		
		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2>Flooding and extreme weather</h2>
					<nav role="navigation">
						<ul>
							<li><a href="/check-flood-risk">Check flood risk (England)</a></li>
							<li class="related-items-more">
								<a href="#">More
									<span class="visuallyhidden">in Flood information services</span>
								</a>            
							</li>
						</ul>
					</nav>
				</aside>       
			</div>
		</div>
	</div>

</main>
