<main>

	<div class="breadcrumbs">
		<ol>
			<li><a href="https://www.gov.uk/">Home</a></li>
			<li><a href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a></li>
			<li><a href="/flooding-extreme-weather">Flooding and extreme weather</a></li>
		</ol>
	</div>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge" style="margin-bottom:0.95em">Get flood warnings by phone, text or email (England)</h1>
			
			<p>Use this service to:</p>
			<ul class="list list-bullet">
				<li>get flood warnings for a property by phone, text or email</li>
				<li>change your preferred method of contact for automated warnings</li>
			</ul>

			<div class="panel panel-border-narrow" style="margin-bottom:2em;margin-top:2em">
				<p>Get flood warnings by phone, text or email if you are in <a rel="external" href="http://floodline.sepa.org.uk/floodingsignup/">Scotland</a> or <a rel="external" href="https://naturalresources.wales/flooding/flood-warning-service/?lang=en">Wales</a>. You can use flood maps to <a rel="external" href="http://riversagency.maps.arcgis.com/apps/webappviewer/index.html">check current flood risk in Northern Ireland</a>.</p>
			</div>
	
			<p><a class="button button-start" href="" role="button">Start now</a></p>

			<h2 class="heading-medium">Before you start</h2>
			<p>You’ll need to provide:</p>
			<ul class="list list-bullet">
				<li>an address you’re registering</li>
				<li>a phone number you can be contacted on day or night or</li>
				<li>an email address</li>
			</ul>

			<h3 class="heading-small">Get warnings for more than one place</h3>
			<p>If you’re in England you can register for warnings for more than one place, for example if your business has several sites.</p>
			<p>To register, call the Targeted Flood Warning Service. The service costs £4,700 a year, but is free for not-for-profit organisations.</p>
			<p>
				<strong class="bold-small">Targetted Flood Warning Service</strong><br/>
				Telephone: 03708 506 506<br/>
				Monday to Friday, 8am to 6pm
			</p>
	
			<h2 class="heading-medium">Other ways to get flood warnings</h2>
			<p>If you’re in England, Scotland or Wales you can register, update your details or cancel the service by calling Floodline.</p>
			<p>
				<strong class="bold-small">Floodline</strong><br/>
				Telephone: 0345 988 1188<br/>
				24-hour service
			</p>
			<p><a href="">Learn more about call charges</a></p>				
			<p>You can also <a href="/warnings">view current flood warnings</a>.</p>


			<!--
			<details style="margin-top:2em" role="group">
                <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Other ways to get flood warning information</span></summary>
                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
					<p>
						<strong class="bold-small">Floodline</strong><br/>
						Telephone: 0345 988 1188<br/>
						24-hour service
					</p>
					<p>
						<a href="">Learn more about call charges</a>
					</p>
                </div>
			</details>
			-->

		</div> 
		
		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2>Flooding and extreme weather</h2>
					<nav role="navigation">
						<ul>
							<li><a href="/check-flood-risk">Find out if there is a risk of flooding</a></li>
							<li><a href="/report-a-flood">Report a flood or possible cuase of flooding</a></li>
							<li class="related-items-more">
								<a href="#">More
									<span class="visuallyhidden">in Flood information services</span>
								</a>            
							</li>
						</ul>
					</nav>
				</aside>       
			</div>
		</div>
	</div>

</main>
