<main>
	
	<!--
	<div class="breadcrumbs">
		<ol>
			<li><a href="https://www.gov.uk/">Home</a></li>
			<li><a href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a></li>
			<li><a href="/flooding-extreme-weather">Flooding and extreme weather</a></li>
		</ol>
	</div>
	-->

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">Recovering from a flood</h1>
			<p>What happens and what you can do in the days and weeks after a flood</p>

			<h2 class="heading-medium">Contact your insurance company</h2>
			<p>If you haven’t done this already, call your insurance company and follow their advice. If you live in rented property, check that your landlord’s insurance covers flooding.</p>
			<p>If you haven’t got insurance, the <a href="http://www.nationalfloodforum.org.uk">National Flood Forum</a> can offer help and support. Call them on 01299 403055.</p>
			
			<h2 class="heading-medium">Look up your local community hub</h2> 
			<p>If there’s been a serious flood, your local authority may have chosen a place like the town hall as a ‘flood hub’ from which to organise flood recovery efforts.</p>
			
			<h2 class="heading-medium">Check if there’s a local flood warden or flood group</h2>
			<p>You may have a nearby flood warden or flood action group. They often use Facebook to communicate, so search for one in your area. </p>
			
			<h2 class="heading-medium">Check if you can return home</h2>
			<p>If you’ve had to leave your home, check with the emergency services that it’s safe before you return.</p>
			<p>Your home or business may need an internal inspection by the utility companies to check it’s safe to turn the water, gas and electricity back on.</p>
				
			<h2 class="heading-medium">Clean up</h2>
			<p>Before you start cleaning, take photographs to document damage and record the flood water height. Ask your insurer before discarding items that cannot be cleaned (such as mattresses and carpets).</p>
			<p>Find out <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/348920/Flooding_how_to_clean_up_your_house_safely.pdf">how to clean up your home safely *META*</a> after a flood.</p>
			<p>Your local authority should help with collecting large flood damaged items like mattresses and carpets. They’ll tell you where to put them and when they may be collected.</p>
			<p>You can dispose of used sandbags at your local tip. If you think they are contaminated by chemicals or sewage, contact <a href="https://www.gov.uk/find-local-council">your local council</a> and ask how to dispose of them.</p>
			<p>You can put most other things in the bin if they’re not polluted. Contact your local council if you need skips or extra rubbish collections.</p>
				
			<h2 class="heading-medium">Stay healthy</h2>
			<p>Flood water may contain sewage, chemicals and animal waste which can cause diseases. When cleaning your home after a flood always wear gloves, a face mask and sturdy footwear.</p>
			<p>You can find general advice about <a href="https://www.gov.uk/government/publications/flooding-questions-and-answers-about-health">staying healthy after a flood</a> at Public Health England.</p>
			<p>If you notice a change in the colour, taste or smell of your tap water, stop using it and phone your water company.</p>
			<p>You can get support from your local health protection team to prevent and reduce the effect of diseases. <a href="https://www.gov.uk/health-protection-team">Find your local health protection team</a>.</p>
			<p>Don’t eat food that’s touched flood water. If your electricity is off, don’t eat fresh food from a fridge after 4 hours or from a freezer after 24 hours.</p>
			<p>For more food safety advice after flooding, including how to make baby food without mains water, call the Food Standards Agency on 020 7276 8829.</p>
				
			<h2 class="heading-medium">Apply for financial aid</h2>
			<p>You may be able to get financial aid for flood recovery. Apply to <a href="https://www.gov.uk/find-local-council">your local council</a>.</p>
			
			<h2 class="heading-medium">Make repairs</h2>
			<p>Take advice from specialists before starting repairs to your property. Most repair work after flooding will need to be done by approved traders appointed by your insurer.</p>
			<p>If you use heaters or dehumidifiers to dry out your property, make sure there’s good ventilation. Never use petrol or diesel-powered generators indoors; their exhaust gases contain potentially lethal carbon monoxide.</p>
			
			<h2 class="heading-medium">Get emotional support</h2>
			<p>Having a flooded home is very stressful. If you need emotional support, contact family and friends, your doctor or an organisation like the <a href="http://www.redcross.org.uk">Red Cross</a> or the <a href="https://www.samaritans.org">Samaritans</a>.</p>
			<p>Public Health England offers <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/483387/Health_advice_about_mental_health_following_floods_2015.pdf">a guide to mental wellbeing *META*</a> after a flood</p>
			
			<h2 class="heading-medium">Prepare for future floods</h2>
			<p>Find out what you can do to protect your property from flooding in the future. You could take measures such as laying tiles instead of carpets, moving electrical sockets higher up the walls and fitting non-return valves.</p>
			<p>You can find suppliers of flood products and services on the <a href="http://bluepages.org.uk">Bluepages</a>.</p>
			
			<h2 class="heading-medium">What happens after a flood</h2>
			<p>What the different organisations may do - and what you can do - in the days, weeks and months after a flood.</p>
			<p>Not all these measures will apply to every flood. What happens will depend on the location, severity and type of flood, and how long it lasts.</p>

			<h3 class="heading-small">1 - 3 days after the flood</h3>
			<ul class="list list-bullet">
				<li>roads and bridges may be closed due to damage or need to be inspected before they can be reopened</li>
				<li>police will increase vigilance to prevent looting of discarded items or empty properties </li>
				<li>voluntary organisations like the Red Cross or WRVS may arrive in the area to help the recovery – contact them if you want to offer your support</li>
				<li>flood management authorities such as the council and the Environment Agency will map affected areas to record the scale and extent of flooding</li>
				<li>the Environment Agency may also send flood support officers to provide advice if you’re affected by floods</li>
			</ul>
			
			<h3 class="heading-small">A week after the flood</h3>
			<ul class="list list-bullet">
				<li>loss adjusters may visit properties to assess flooding insurance claims, perhaps earlier if flooding is localised</li>
				<li>the Environment Agency and other flood risk management authorities will be inspecting flood defences for damage and prioritising repairs</li>
				<li>your local authority may establish a flood fund and manage the raising and allocation of funds and donated goods</li>
				<li>your local authority may provide assistance on council tax and other measures if your business is affected by flooding</li>
			</ul>

			<h3 class="heading-small">A month after the flood</h3>
			<ul class="list list-bullet">
				<li>where there has been serious infrastructure damage, repairs may continue for months or years</li>
				<li>you can contact <a href="https://www.gov.uk/find-local-council">your local council</a> to find out if flood recovery grants are available and how to apply for them</li>
				<li>if flood defences have been damaged, your area may be at greater risk of future floods and flood warnings may be issued a lower levels until defences are repaired</li>
				<li>your local authority may issue an approved trader list to help homeowners and businesses avoid dishonest traders</li>
			</ul>

			<h3 class="heading-small">3 months after the flood</h3>
			<ul class="list list-bullet"></ul>
				<li>your local authority may hold a review, with local meetings and business impact surveys, to capture lessons learned and establish an action plan</li>
				<li>there may also be a local authority effort to bring trade back where local economies have been affected by floods</li>
			</ul>

			<h3 class="heading-small">A year after the flood</h3>
			<ul class="list list-bullet">
				<li>major Infrastructure repairs may still be going on after 12 months if damage has been severe</li>
				<li>flood risk management authorities may still be planning or have begun building improved flood defences</li>
				<li>the Environment Agency, local authority and community flood action groups may be involved in exercises that test new flood response plans</li>
			</ul>

			<p>For more advice call Floodline on 0345 988 1188.</p>

			<h2 class="heading-medium">How useful was this information?</h2>
			<p>Your <a href="">feedback</a> will help us improve this service</p>

		</div> 
		
		<!--
		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2 class="heading-small">Related content</h2>
					<nav role="navigation">
						<ul>
							<li><a href="/preparing-for-a-flood">Preparing for a flood</a></li>
							<li><a href="/recovering-from-a-flood">Recovering for a flood</a></li>
						</ul>
					</nav>
				</aside>       
			</div>
		</div>
		-->

	</div>

</main>
	