<main>
	
		<div class="breadcrumbs">
			<ol>
				<li><a href="https://www.gov.uk/">Home</a></li>
				<li><a href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a></li>
				<li><a href="/flooding-extreme-weather">Flooding and extreme weather</a></li>
			</ol>
		</div>
	
		<div class="grid-row">
	
			<div class="column-two-thirds">
	
				<h1 class="heading-xlarge" style="margin-bottom:0.95em">Recovering from a flood</h1>
				
	
			</div> 
			
			<div class="column-third">
				<div class="related">
					<aside class="govuk-related-items">
						<h2>Flooding and extreme weather</h2>
						<nav role="navigation">
							<ul>
								<li>Related item</li>
								<li class="related-items-more">
									<a href="#">More
										<span class="visuallyhidden">in Flood information services</span>
									</a>            
								</li>
							</ul>
						</nav>
					</aside>       
				</div>
			</div>
		</div>
	
	</main>
	