<main>

	<div class="breadcrumbs">
		<ol>
			<li><a href="https://www.gov.uk/">Home</a></li>
			<li><a href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a></li>
			<li><a href="/flooding-extreme-weather">Flooding and extreme weather</a></li>
		</ol>
	</div>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge" style="margin-bottom:0.95em">Report a flood or possible cause of flooding (England)</h1>

			<div class="panel panel-border-narrow" style="margin-bottom:2em;margin-top:2em">
				<p>Report flooding if you're in <a rel="external" href="">Scotland</a>, <a rel="external" href="">Wales</a> or <a rel="external" href="">Northern Ireland</a>.</p>
			</div>

			<p>Who you need to contact depends on whats flooding.</p>
			
			<h2 class="heading-medium">Sewers and burst water mains</h2>
			<p>Contact your <a href="">local water company</a> to fix:</p>
			<ul class="list list-bullet">
				<li>blocked sewers</li>
				<li>burst water mains</li>
			</ul>

			<h2 class="heading-medium">Public drains and flooded roads</h2>
			<p>Contact your local council to:</p>
			<ul class="list list-bullet">
				<li><a href="">clear public drains</a></li>
				<li><a href="">report a flooded road</a></li>
			</ul>

			<!-- Government service -->
			<h2 class="heading-medium">Rivers and the sea</h2>
			<p>Use this service to report:</p>
			<ul class="list list-bullet">
				<li>a blockage, for example a fallen tree</li>
				<li>collapsed or badly damaged river or canal banks</li>
				<li>unusual changes in river flow</li>
				<li>flooding from the sea or a main river - you can check which are <a href="">main rivers</a>.</li>
			</ul>
			<p style="margin-bottom:1.5em"><a class="button button-start" href="" role="button">Start now</a></p>
			<p>Before you start:</p>
			<ul class="list list-bullet">
				<li>you will need a location such as a <a href="" rel="external">national grid reference (NGR)</a>, <a href="" rel="external">property address</a> or if on site a mobile phone with <a href="" rel="external">location services enabled</a>.</li>
			</ul>
			<p>Other ways to report a river or sea flood</p>
			<p>
				<strong class="bold-small">Environment Agency Incident Hotline</strong><br/>
				Telephone: 0800 80 70 60<br/>
				24-hour service<br/>
				<a href="">Learn more about call charges</a>
			</p>
			<!-- End -->
			<p>Contact your <a href="">local council</a> to report flooding from other rivers, brooks or streams.</p>
			
			<h2 class="heading-medium">Groundwater flooding</h2>
			<p>Report groundwater flooding to your <a href="">local council</a>. Groundwater flooding is caused by water rising up through the ground.</p>

			<h2 class="heading-medium">Private drains</h2>
			<p>Floods caused by private drains are the responsibility of the property owner.</p>

		</div> 
		
		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2>Flooding and extreme weather</h2>
					<nav role="navigation">
						<ul>
							<li><a href="/check-flood-risk">Find out if there is a risk of flooding</a></li>
							<li><a href="/get-flood-warnings">Get flood warnings by phone, text message or email</a></li>
							<li class="related-items-more">
								<a href="#">More
									<span class="visuallyhidden">in Flood information services</span>
								</a>            
							</li>
						</ul>
					</nav>
				</aside>       
			</div>
		</div>
	</div>

</main>
