<main>
	
	<!--
	<div class="breadcrumbs">
		<ol>
			<li><a href="https://www.gov.uk/">Home</a></li>
			<li><a href="https://www.gov.uk/browse/environment-countryside">Environment and countryside</a></li>
			<li><a href="/flooding-extreme-weather">Flooding and extreme weather</a></li>
		</ol>
	</div>
	-->

	<div class="grid-row">

		<div class="column-two-thirds">

			<div class="pub-c-title pub-c-title--bottom-margin">
					<h1 class="pub-c-title__text">
						Responding to a flood
					</h1>
			</div>

			<aside class="part-navigation-container" role="complementary">
				<nav role="navigation" class="grid-row part-navigation" aria-label="Pages in this guide">
					<ol class="column-half">
						<li>
							<a href="/responding-to-a-flood">Overview</a>
						</li>
						<li>
							Getting a flood alert
						</li>
					</ol>
					<ol class="column-half" start="3">
						<li>
								<a href="/responding-to-a-flood/getting-a-flood-warning">Getting a flood warning</a>
						</li>
						<li>
							<a href="/responding-to-a-flood/getting-a-severe-flood-warning">Getting a severe flood warning</a>
						</li>
					</ol>
				</nav>
			</aside>

		</div>
		
		<div class="column-two-thirds">

			<h1 class="part-title">2. What to do if you get a flood alert</h1>
			
			<p>A flood alert means you need to prepare: flooding is possible</p>
			<p>What you should do:</p>
			<ul class="list list-bullet">
				<li>keep track of the weather and water levels</li>
				<li>get ready to act on your <a href="https://www.gov.uk/government/publications/personal-flood-plan">flood plan</a> if you have one</li>
				<li>move vehicles to higher ground if it’s safe to do so</li>
				<li>prepare a flood kit of essential items including a torch with spare batteries, mobile phone and charger, warm clothes, home insurance documents, water, food, first aid kit and any prescription medicines or baby care items you need</li>
				<li>check you know how to turn off your gas, electricity and water mains supplies</li>
				<li>in rural locations, farmers should consider moving livestock and equipment away from areas likely to flood</li>
				<li>avoid walking, cycling or driving through flood water - 6 inches (15cm) of fast-flowing water can sweep an adult off their feet, while 12in (30cm) can move a car</li>
				<li>wash your hands if you’ve been in contact with flood water which may contain raw sewage</li>
			</ul>
			<h3 class="heading-small">Businesses</h3>
			<p>Keep your staff and customers informed.</p>
			<h3 class="heading-small">How useful was this information</h3>
			<p>Your <a href="">feedback</a> will help us improve this service</p>

			<nav class="pub-c-pagination" role="navigation" aria-label="Pagination">
				<ul class="pub-c-pagination__list">
					<li class="pub-c-pagination__item pub-c-pagination__item--previous">
						<a href="/responding-to-a-flood" class="pub-c-pagination__link" rel="prev">
							<span class="pub-c-pagination__link-title">
								<svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
									<path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
								</svg>
								Previous
							</span>
							<span class="visually-hidden">:</span>
							<span class="pub-c-pagination__link-label">Overview</span>
						</a>
					</li>
					<li class="pub-c-pagination__item pub-c-pagination__item--next">
						<a href="/responding-to-a-flood/getting-a-flood-warning" class="pub-c-pagination__link" rel="next">
						<span class="pub-c-pagination__link-title">
							Next
							<svg class="pub-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
								<path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
							</svg>
						</span>
							<span class="visually-hidden">:</span>
							<span class="pub-c-pagination__link-label">Getting a flood warning</span>
						</a>
					</li>
				</ul>
			</nav>
	
		</div> 
		
		<div class="column-third">
			<div class="related">
				<aside class="govuk-related-items">
					<h2 class="heading-small">Related content</h2>
					<nav role="navigation">
						<ul>
							<li><a href="/preparing-for-a-flood">Preparing for a flood</a></li>
							<li><a href="/recovering-from-a-flood">Recovering for a flood</a></li>
						</ul>
					</nav>
				</aside>       
			</div>
		</div>

	</div>

</main>
	