<main>

	<a href="/find-address" class="link-back">Back</a> 

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				We provide property flood risk information for England only
			</h1>

			{{#if model.errors.country.code}}
			<p>This postcode is in {{ model.errors.country.name }}.</p>
			<p>Flood probability information for {{ model.errors.country.name }} is available from the <a href="">Scottish Environment Protection Agency</a></p>
			{{/if }}

		</div>

	</div>

</main>