<main {{#if model.errors}}class="js-error"{{/if }}>

	<p>{{ json model }}</p>

	<nav class="nav-back" style="display:none" hidden>
		<a href="#" class="link-back">Back</a> 
	</nav>
		
	<form action="" autocomplete="off" class="form" method="post">
		<div class="grid-row no-bottom">
			<div class="column-two-thirds no-bottom">
				
				{{#if model.isError}}
				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
					<h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>
					<ul class="error-summary-list">
						{{#is model.errors.property.type 'any.required' }}
						{{#if model.isSingle }}
						<li><a href="#address">Please confirm the address</a></li>
						{{else }}
						<li><a href="#address">Please select the address</a></li>
						{{/if }}
						{{/is }}
					</ul>
				</div>
				{{/if }}

				<fieldset>
					{{#if model.isSingle }}
					<legend>
						<h1 class="heading-large">Confirm the address</h1>
					</legend>
					<div class="form-group{{#is model.errors.property.type 'any.required' }} form-group-error{{/is }}" id="address">
						{{#is model.errors.property.type 'any.required' }}
						<span class="error-message" id="addressAnyRequird">Please confirm the address</span>
						{{/is }}
						<div class="multiple-choice">
							<input id="property" name="property" type="checkbox" value="{{ model.property.[0].path }}">
							<label for="property">{{ model.property.[0].address }}</label>
						</div>
					</div>
					{{else }}
					<legend>
						<h1 class="heading-large">Select your address</h1>
						<p class="bold-small">{{ model.property.length }} addresses found for '{{ model.premises }}' and '{{ model.postcode }}'. <a href="/find-address" title="Change address details">Change</a></p>
					</legend>
					<div class="form-group{{#is model.errors.property.type 'any.required' }} form-group-error{{/is }}" id="address">
						{{#is model.errors.property.type 'any.required' }}
						<span class="error-message" id="addressAnyRequird">Please select the address</span>
						{{/is }}
						{{#each model.property as |item|}}
						<div class="multiple-choice">
							<input id="property-{{ @index }}" type="radio" name="property" value="{{ item.path }}">
							<label for="property-{{ @index }}">{{ item.address }}</label>
						</div>
						{{/each }}
					</div>
					{{/if }}
				</fieldset>

				<div class="form-group">
					<input id="scenario" name="scenario" type="hidden" value="{{ model.scenario }}"/>
					<input id="premises" name="premises" type="hidden" value="{{ model.premises }}"/>
					<input id="postcode" name="postcode" type="hidden" value="{{ model.postcode }}"/>
					<input class="button" type="submit" value="Continue">
				</div>

				<details>
					<summary>
						<span class="summary">The address is not listed</span>
					</summary>
					<div class="panel panel-border-narrow">
						<p>You can <a href="">check the postcode at Royal Mail</a>.</p><p>Or you can <a href="">see a map showing areas at risk of flooding</a>.</p>
					</div>
				</details>

			</div>
		</div>
	</form>
		
</main>

{{#section 'bodyScripts'}}

<!-- Add before closing body tag -->
<!-- below uses GDS style guide javascript adapted to use html5 hidden instead of aria-hidden -->
<script src="/public/javascripts/show-hide-content.js"></script>
<script>
$(document).ready(function () {

	// Turn off jQuery animation
	jQuery.fx.off = true

	// If there is an error, set focus to the summary
	$('.js-error .error-summary:visible').first().focus()

})
</script>
<!-- end before closing body tag -->

{{/section}}