<main {{#if model.errors}}class="js-error"{{/if }}>

	<nav class="nav-back" style="display:none" hidden>
		<a href="#" class="link-back">Back</a> 
	</nav>
		
	<form action="/find-address" autocomplete="off" class="form" method="post">
		<div class="grid-row no-bottom">
			<div class="column-two-thirds no-bottom">
				
				{{#if model.errors}}
				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
					<h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>
					<ul class="error-summary-list">
						{{#is model.errors.premises.type 'any.empty'}}
						<li><a href="#premises">Please give a house number or name</a></li>
						{{/is }}
						{{#is model.errors.postcode.type 'any.empty'}}
						<li><a href="#postcode">Please give a full postcode, eg WA4 1AB</a></li>
						{{/is }}
						{{#if model.errors.address}}
						<li><a href="#address">This address is not listed</a></li>
						{{/if }}
					</ul>
				</div>
				{{/if }}

				<h1 class="heading-large">Find the address</h1>

				<fieldset>
					<legend>
						<span class="visuallyhidden">Address details</span>
					</legend>
					<div{{#if model.errors.address}} class="form-group form-group-error"{{/if }} id="address">
						{{#if model.errors.address}}
						<span class="error-message error-message-group" id="addressAnyEmpty">This address is not listed</span>
						{{/if }}
						<div class="form-group{{#if model.errors.premises}} form-group-error{{/if }}">
							<label for="premises">
								<span class="font-small">House number or name</span>
								<span class="form-hint">For example, Flat 20A</span>
								{{#is model.errors.premises.type 'any.empty'}}
								<span class="error-message" id="premisesAnyEmpty">Please give a house number or name</span>
								{{/is }}
							</label>
							<input class="form-control{{#if model.errors.premises}} form-control-error{{/if }}" id="premises" type="text" name="premises" value="{{ model.values.premises }}">
						</div>
						<div class="form-group{{#if model.errors.postcode}} form-group-error{{/if }}">
							<label for="postcode">
								<span class="font-small">Postcode</span>
								<span class="form-hint">For example, WA4 1AB</span>
								{{#is model.errors.postcode.type 'any.empty'}}
								<span class="error-message" id="postcodeAnyEmpty">Please give a full postcode, eg WA4 1AB</span>
								{{/is }}
							</label>
							<input class="form-control{{#if model.errors.postcode}} form-control-error{{/if }}" id="postcode" type="text" name="postcode" value="{{ model.values.postcode }}">
						</div>
					</div>
				</fieldset>

				<div class="form-group">
					<input id="scenario" name="scenario" type="hidden" value="{{ model.scenario }}"/>
					<input class="button" type="submit" value="Continue"/>
				</div>

				<details>
					<summary>
						<span class="summary">Don't know the address details?</span>
					</summary>
					<div class="panel panel-border-narrow">
						<p>You can <a href="">look up the postcode at Royal Mail</a>.</p><p>Or you can <a href="">see a map showing areas at risk of flooding</a>.</p>
					</div>
				</details>

			</div>
		</div>
	</form>
		
</main>

{{#section 'bodyScripts'}}

<!-- Add before closing body tag -->
<!-- below uses GDS style guide javascript adapted to use html5 hidden instead of aria-hidden -->
<script src="/public/javascripts/show-hide-content.js"></script>
<script>
$(document).ready(function () {

	// Turn off jQuery animation
	jQuery.fx.off = true

	// If there is an error, set focus to the summary
	$('.js-error .error-summary:visible').first().focus()

})
</script>
<!-- end before closing body tag -->

{{/section}}