<main {{#if errors}}class="js-error"{{/if }}>

	<p>{{ json model }}</p>

	<a href="/find-address" class="link-back">Back</a> 
		
	<form action="" autocomplete="off" class="form" method="post">
		<div class="grid-row no-bottom">
			<div class="column-two-thirds no-bottom">
				
				{{#if errors}}
				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
					<h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>
					<ul class="error-summary-list">
						<li><a href="#">Error message</a></li>
					</ul>
				</div>
				{{/if }}

				<div class="form-group">
					<fieldset>
						<legend>
							<h1 class="heading-large">Select your address</h1>
						</legend>						
						{{#is model.property.length 1 }}
						<p>one</p>
						{{/is }}
						{{#notIs model.property.length 1 }}
						<p>Not one</p>
						{{/notIs }}
						
						{{#each model.property as |item|}}
						<div class="multiple-choice">
							<input id="radio-1" type="radio" name="radio-group" value="Richmond, North Yorkshire">
							<label for="radio-1">Address 1</label>
						</div>
						{{/each }}
						<p class="form-block">or</p>
					</fieldset>
				</div>

				<div class="form-group">
					<input id="scenario" name="scenario" type="hidden" value="{{ model.scenario }}"/>
					<input class="button" type="submit" value="Continue">
				</div>

			</div>
		</div>
	</form>
		
</main>