<main {{#if errors}}class="js-error"{{/if }}>

	<a href="/find-address" class="link-back">Back</a> 
		
	<form action="" autocomplete="off" class="form" method="post">
		<div class="grid-row no-bottom">
			<div class="column-two-thirds no-bottom">
				
				{{#if errors}}
				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
					<h1 class="heading-medium error-summary-heading" id="error-summary-heading">There was a problem</h1>
					<ul class="error-summary-list">
						<li><a href="#">Error message</a></li>
					</ul>
				</div>
				{{/if }}

				<div class="form-group">
					<fieldset>
						
						{{#if model.isSingle }}
						<legend>
							<h1 class="heading-large">Confirm the address</h1>
						</legend>
						<div class="multiple-choice">
							<input id="property" name="property" type="checkbox" value="No">
							<label for="property">{{ model.property.[0].address }}</label>
						</div>
						{{else }}
						<legend>
							<h1 class="heading-large">Select your address</h1>
							<p class="bold-small">{{ model.property.length }} addresses found for '{{ model.premises }}' and '{{ model.property.[0].postcode }}'</p>
						</legend>
						{{#each model.property as |item|}}
						<div class="multiple-choice">
							<input id="property-1" type="radio" name="property" value="No">
							<label for="property-1">{{ item.address }}</label>
						</div>
						{{/each }}
						{{/if }}
					</fieldset>
				</div>

				<div class="form-group">
					<input id="scenario" name="scenario" type="hidden" value="{{ model.scenario }}"/>
					<input class="button" type="submit" value="Continue">
				</div>

				<details>
					<summary>
						<span class="summary">The address is not listed</span>
					</summary>
					<div class="panel panel-border-narrow">
						<p>You can <a href="">check the postcode at Royal Mail</a>.</p><p>Or you can <a href="">see a map showing areas at risk of flooding</a>.</p>
					</div>
				</details>

			</div>
		</div>
	</form>
		
</main>