<!--
<div class="breadcrumbs">
	<ol>
		<li><a href="/">Flooding</a></li>
		<li><a href="/">Environment and countryside</a></li>
		<li><a href="/">Flooding and extreme weather</a></li>
		<li><a href="/">Current flood risk</a></li>
	</ol>
</div>
-->

<main>

	<div class="grid-row">

		<div class="column-two-thirds">

			<h1 class="heading-xlarge">
				Long term flood risk
				<span class="heading-secondary">3 Hewitt Street, HX7 5NR, Mytholmroyd</span>
			</h1>

			<div class="panel panel-border-narrow">
				<p class="lede">
					This property is in or near an area at risk from River or Sea flooding.
				</p>
			</div>

			<h2 class="heading-medium">Be prepared: things you should do</h2>

			<ol>
				<li>
					<p><a href="">Get flood warnings by phone, text or email</a></p>
				</li>
				<li>
					<p><a href="">Prepare for flooding</a></p>
				</li>
				<li>
					<p><a href="">Know what to do during a flood</a></p>
				</li>
				<li>
					<p><a href="">Get help after a flood</a></p>
				</li>
			</ol>

			<h2 class="heading-medium">Detailed flood risk information for this area</h2>
			<p><a href="/long-term/3-hewitt-street-hx7-5nr/assessment">View detailed flood risk assessment</a></p>
			<p><a href="/long-term/map?location=3-hewitt-street-hx7-5nr">View flood risk details on a map</a></p>

		</div>

	</div>

</main>